[2012-02-11 22:08] haf opened #8 "Accessing disposed object"
[code]

When having connections open and then terminating the server.

Expected some of the RMQ exceptions to be thrown.

Log messages:

[code]

Lib version: 2.7.1.

This exception tears down the app domain.

[2012-11-13 15:31] tomstaijen opened #13 "DequeueNowait returns null first time."
Is it possible that DequeueNowait will return nothing the first time because no data has been prefetched yet, even when there are messages on the queue?

If I use Dequeue with a wait time of 10ms i do get a message the first time.

If this is possible, is it by design? Or is there a workaround other then using a wait period?

I'm using 2.8.7 client.

[2012-12-29 02:14] raffaine opened #16 "WinRT/Windows Store support"
Guys,

I'm in some kind of trouble ... I don't know how to solve it. The problem is I'm building a Metro Style app with RabbitMQ.Client.Dll and when I try to instantiate a IBasicProperties or use BasicPublish the source stop compiling with the following error:
1>e:\Julio\Projetos\GitHub\RabbitMQ.Client.dll : error CS0011: The base class or interface 'System.ICloneable' in assembly 'mscorlib, Versi

[2013-11-20 19:22] OlsonDev opened #20 "Named parameter version of the API"
This is just a generic request. I've noticed this client/API is very Boolean happy. I'd much rather see overloads which take in specific purpose enums.

I just put together a demo app and in reviewing the code I wrote yesterday, I'm having difficulty reading it. Compare what I have with what it could be.

What I have:
`model.QueueDeclare(queueName, true, false, false, null);`

What I could have:
`

[2015-01-19 10:46] PritamUpadhyay opened #29 "Issue on removing connection while closing Application."
I am using .NET RabbitMQ Client library. I want to develop a messaging system. For this, I have implemented all necessary methods of RabbitMQ. Moreover I have to develope dispose() for removing connection from RabbitMQ as connection is not removed automatically. I am calling this method in FormClosing() event so this method will be triggered when user closes the application by clicking on close bu

[2015-01-21 21:01] jondunning opened #30 "Error connecting over SSL"
Hi,

Ive been trying to connect to my rabbitmq broker using SSL but I keep getting the following exception;

"A call to SSPI failed"

    var connectionFactory = new ConnectionFactory()
                {
                    HostName = {hostname},
                    Port = 5671,
                    UserName = "guest",
                    Password = "guest",
                    AuthMechanisms = new

[2015-01-22 20:27] michaelklishin commented on #30
This repository is currently a mirror. The same issue is [already reported](https://groups.google.com/forum/#!topic/rabbitmq-users/MUC7-ObGBKc) to rabbitmq-users.

[2015-01-22 20:27] #30 closed

[2015-01-22 23:11] michaelklishin commented on #29
This repository is currently a mirror. Please post questions to rabbitmq-users.

[2015-01-22 23:11] #29 closed

[2015-02-04 15:39] aaron-horst opened #31 "Best way to close a Connection object shared across threads"
I have a .net console that delivers a high volume of messages to RabbitMQ that shares a Connection object across all threads.  What are the suggested practices for closing the connection at the end of execution?  We notice the console will not exit until the connection is explicitly closed.  Setting AutoClose = true after channel creation tears down at inconsistent points so perhaps we are missing

[2015-02-04 15:40] michaelklishin commented on #31
This repository is a mirror. Please post questions to rabbitmq-users.

[2015-02-04 15:40] #31 closed

[2015-02-05 11:00] PritamUpadhyay commented on #31
Are you implementing using(){ } block?
e.g
 using (IConnection connection = connectionFactory.CreateConnection())
{
                    using (IModel model = connection.CreateModel())
                    {
                       IBasicProperties basicProperties = model.CreateBasicProperties();
                       basicProperties.Headers = new Dictionary<string, object>();

[2015-02-18 04:44] ngbrown opened #32 "Build nuget packages from this repository."
For years, @joefitzgerald has been taking the official dll's and packaging them into nuget packages from a separate repository ([link](https://github.com/joefitzgerald/rabbitmq-dotnet-client-package)).  The .nuspec and build scripts should be moved to this repository so that future merges to support additional platforms (Windows Store and portable apps) can appropriately adjust the nuget generatio

[2015-02-18 08:41] #8 closed

[2015-02-18 08:41] michaelklishin commented on #16
Is this still relevant with master/`3.4.4`?

[2015-02-18 08:42] michaelklishin commented on #13
@cvanbergen thanks for confirming!

[2015-02-18 08:45] michaelklishin commented on #32
Agreed.

[2015-02-18 15:23] joefitzgerald commented on #32
:+1:

[2015-02-18 16:48] ngbrown commented on #16
I wasn't part of this issue, but I had separately developed a WinRT branch and discussed it on the mailing list on [June 10, 2014](http://lists.rabbitmq.com/pipermail/rabbitmq-discuss/2014-June/036556.html).

The approach I had at the time wasn't fully integrated into the nuget packaging, so this effort really depends on #32.  I am planning on rebasing my work to the most recent codebase and would

[2015-02-18 16:53] michaelklishin commented on #16
@ngbrown we use Windows 7 for building, as well as

 * VS 2013 Community edition
 * .NET 4.0 or 4.5
 * Cygwin (make and openssl are key for this particular repo)

the rest of the testing process currently depends on `rabbitmq-public-umbrella` but it isn't particularly sophisticated.

Can we add WinRT support without moving to Windows 8.1? (which we can do but we just finished moving to 7 and would

[2015-02-18 19:38] ngbrown commented on #16
A WinRT library requires Windows 8.1 to build. It won't even load on Windows 7.  Now Windows 7 can compile a portable class library (PCL) but that [doesn't include Socket and TcpClient](http://stackoverflow.com/questions/24045075/why-cant-i-reference-system-net-sockets-in-a-portable-class-library-using-xamar).

The end result should look something like what [AutoMapper](https://github.com/AutoMapp

[2015-02-18 20:06] michaelklishin commented on #16
@ngbrown I'd need to do some research on that but I'm guessing that the answer is "we can support WinRT and still build/run tests unrelated to it on Win 7 with some clever tricks". Is this correct?

[2015-02-19 02:26] ngbrown commented on #16
There's no tricks that I know of to build the networking portion on Windows 7.  `StreamSocket` is only [on Windows 8 or Server 2012](https://msdn.microsoft.com/library/windows/apps/br226882).

There are some differences that I don't think you would want to paper over with a compatibility layer (which would still need compiled on Windows 8/2012, but maybe on another CI platform).  This is what the

[2015-02-19 10:07] michaelklishin commented on #16
@ngbrown OK, so what are our options then? Drop Windows 7 support?

[2015-02-19 15:22] ngbrown commented on #16
@michaelklishin no dropping of any support... Just adding.  Windows 8 is highly compatible in terms of what desktop applications it runs. For example, you could run your current build process as-is and get the same outputs.

I am suggesting using the [NuGet support for multiple framework versions and profiles](http://docs.nuget.org/Create/Enforced-Package-Conventions) to include additional dll's f

[2015-02-19 15:27] michaelklishin commented on #16
@ngbrown excellent, thank you for the detailed reply. We'll do what you suggest and now it should be much easier for you to help us ;)

[2015-03-01 12:37] michaelklishin opened #36 "Revamp code generator"
We've been avoiding tweaking code generator much in recent years because it's fairly hard to make non-trivial changes. As a result it is much harder to refactor the rest of the library because we depend on the existing `ModelBase` hierarchy and responsibility scope heavily.

Now that we require .NET 4.0, we can investigate [Expression Trees](https://msdn.microsoft.com/en-us/library/bb397951.aspx).

[2015-03-01 18:12] ngbrown commented on #32
Is there an updated document that outlines the entire process of using the various build scripts with what tools need to be installed?  The NuGet execution needs to be somewhere in those build scripts.

For example, the public-umbrella [build instructions](https://github.com/rabbitmq/rabbitmq-public-umbrella/tree/master/release-build) mentions <http://moshi.lshift.net/RabbitMQDotnetClientReleasePr

[2015-03-01 19:09] michaelklishin commented on #32
@ngbrown see http://www.rabbitmq.com/build-dotnet-client.html. Building on Windows for NuGet makes sense.

[2015-03-01 19:13] michaelklishin commented on #32
@ngbrown I've updated the pages. VS 2013, .NET 4 and `cp Local.props.example Local.props` is all you need these days. Then simply run `msbuild.exe`.

[2015-03-01 19:13] michaelklishin commented on #32
I'd really like to see NuGet scripts to be in this repo. That's the easiest way to automated the rest for us and do manual releases as needed (e.g. to publish preview releases).

[2015-03-01 19:15] joefitzgerald commented on #32
Perhaps a first easy step is to set up a CI build on AppVeyor (https://appveyor.com) against the public repo for the .NET client. From there, we start by publishing snapshot releases. Once everyone's comfortable with it, we could publish the actual releases once you're comfortable with the process.

[2015-03-01 19:17] joefitzgerald commented on #32
@michaelklishin Can you give me commit rights to this repo so I can enable the builds on AppVeyor? Not a commitment to use it, but I'll push a branch and create a PR against it to review how this would look.

[2015-03-01 19:20] michaelklishin commented on #32
@joefitzgerald you should have an invitation by now.

[2015-03-01 19:32] ngbrown commented on #32
I did get a build running in appveyor <https://ci.appveyor.com/project/ngbrown/rabbitmq-dotnet-client/history>.

See my branch to get that working: <https://github.com/ngbrown/rabbitmq-dotnet-client/tree/feature-appveyor-ci>.  I to run the tests, I used `choco install rabbitmq`, used an environment variable for the `rabbitmqctl` location, and had to disable some tests that would fail on a single-c

[2015-03-04 13:16] michaelklishin commented on #20
So, with .NET 4 (required in master), it is already possible to do something like

[code]

This trades significant readability improvements for a tiny latency increase (for the I/O bound methods in our client). Looks like the only thing we should do is to update our tutorials to use named arguments and .NET guide to mention both ways of invoking methods.

Needless to say, I wish `javac` had this f

[2015-03-04 17:39] ngbrown commented on #32
The referenced pull request, #38, gets us partially there, but does not close this issue because it does not integrate an script into the repository to build the `.nupkg` files.

I have started working on a msbuild proj file, but it was easier to get it working using PowerShell scripts in AppVeyor.  See the end for a discussion on this.

The nuget files are being generated from my fork.  View proj

[2015-03-04 18:26] ngbrown commented on #32
See how a test merge request looks: ngbrown#1.

If @joefitzgerald can get AppVeyor set up on the main repository, then every commit and merge request would have visible test results like above.

[2015-03-04 20:24] michaelklishin commented on #32
@ngbrown feel free to use PowerShell, we can port it to shell script.

[2015-03-04 20:24] michaelklishin commented on #32
In fact, if the PowerShell scripts are only for NuGet packaging, we don't have to make that runnable end-to-end on Mono. The client and test suite should work on Mono, not release tooling.

[2015-03-05 11:43] michaelklishin opened #39 "Remove code examples from this repository"
They don't really provide much on top of RabbitMQ tutorials (code for which is [available](/rabbitmq/rabbitmq-tutorials)) and have accumulated cruft over the years.

I'd rather add a Visual Studio solution to the tutorials repo.

[2015-03-12 12:35] michaelklishin opened #40 "ConsumerWorkService doesn't use the scheduler it is constructed wtih"

[2015-03-12 12:56] #40 closed

[2015-03-13 14:11] jag919 opened #42 "QueueingBasicConsumer does not AutoRecover"
With AutomaticRecoveryEnabled, a QueueingBasicConsumer does not resume when a connection is reestablished, because the OnCancel call closes the queue.  Nothing in the recovery reopens it.  I worked around by creating my own consumer that does not close the queue on cancel.

[2015-03-13 14:14] michaelklishin commented on #42
Queueing consumers are not recovered. It is non-trivial to do given how it works. Subclass the default consumer.

[2015-03-13 14:14] #42 closed

[2015-03-13 14:16] jag919 opened #43 "RecoverQueue deletes recorded bindings before they can be recovered"
AutorecoveringConnection calls RecoverQueues, which in turn calls DeleteRecordedQueue(oldName).   This function executes m_recordedBindings.RemoveWhere(b => name.Equals(b.Destination)); The next call to RecoverBindings does nothing, since the bindings were removed for the old queue name.

[2015-03-13 14:17] jag919 commented on #42
I would suggest adding a comment in the code or documentation to this effect then.

[2015-03-13 14:17] michaelklishin commented on #42
Yes, we should definitely mention this in the guide. Thank you.

[2015-03-13 14:23] michaelklishin commented on #43
FTR, we've fixed this in the Java client before.

[2015-03-15 08:31] michaelklishin opened #46 "Don't fail when no client certificates are provided"
Our original solution in 36efc0085d7300cadb164469bc8ceada6d301624 makes it impossible to provide other TLS options and no certificates (see #44, #45).

We should check for null `X509CertificateCollection`s and use a blank one.

[2015-03-15 21:43] michaelklishin commented on #30
We had to revert this change (#44, #45) because it does more harm than good. I've noticed that you use external authentication without client certificate. Is this intentional? This makes little sense to me.

I've filed a new issue to investigate an alternative solution: #46.

[2015-03-15 23:02] michaelklishin commented on #30
Added a test in cb2b6d22ca5f64204902c24557adf02aa85c8be6. Closing #46.

[2015-03-15 23:03] michaelklishin commented on #46
cb2b6d22ca5f64204902c24557adf02aa85c8be6 suggests that not providing a client certificate is possible without any further changes.

[2015-03-15 23:03] #46 closed

[2015-03-16 13:23] michaelklishin commented on #43
Relevant Java client change: https://github.com/rabbitmq/rabbitmq-java-client/commit/0c0f2bff36a85b8a5c8c499cce24e95a0ae707a8.

[2015-03-16 15:07] #43 closed

[2015-03-16 18:28] abellix opened #47 "Make IQueueingBasicConsumer and ISubscription public"
I am trying to have some cases covered by tests, some of the interfaces I need to mock are made internal in the solution (e.g. I would like to mock IQueueingBasicConsumer).
Is there any reason for interfaces like IQueueingBasicConsumer, ISubscription not being exposed?

[2015-03-16 18:32] michaelklishin commented on #47
Not a lot of people asked to date. What interfaces do you want to implement?

[2015-03-16 18:37] abellix commented on #47
those two would be enough for the moment

[2015-03-16 18:56] #47 closed

[2015-03-25 18:55] GarrettDavis opened #49 "IModel.Dispose() hangs after consuming with IBasicConsumer.HandleBasicDeliver()"
Starting with version 3.5 of .NET client, I'm seeing an issue with disposing models after consuming on that channel.  Dispose() will hang indefinitely.  There was nothing wrong with the connection when this happened.  Everything was running smoothly.  I have an application that may frequently create and dispose channels on which we consume messages.  In the mean time I have reverted to 3.4.3 so my

[2015-03-25 18:59] michaelklishin commented on #49
Please use `IModel#Close` instead of `Dispose`. There is a bug about re-working `Dispose` already. If `Close` also hangs, please take a thread dump and file a new issue.

Thank you.

[2015-03-25 18:59] #49 closed

[2015-03-26 17:53] jag919 opened #50 "Consumers do not resume on AutoRecovery because ConsumerWorkService is Shutdown"
Looks like in 3.5.0 HandleBasicDeliver is delegated to the dispatcher.  Trouble seems to be when the connection was closed, Shutdown was called on the work service, clearing all the keys out.  Nothing re-registers the keys with the work service when the connection is restored.

[RabbitMQ.Client.Impl.RecoveryAwareModel]	{Session#1:Connection(aa6ca86e-62e9-4a25-aac2-dd2a6fc66aa7,amqp://localhost:567

[2015-03-26 17:54] michaelklishin commented on #50
By "connection was closed" you mean "connection was lost", that is, not closed deliberately by the app, correct?

[2015-03-26 17:55] jag919 commented on #50
Correct, I forced a connection closed from the management console.  the connection then recovered, redeclared its models and topology.  The message gets delivered to the client, but never handed to the consumer.

[2015-03-26 18:04] michaelklishin commented on #50
Thanks, we'll investigate.

[2015-03-27 07:04] StefH opened #51 "Any plans for support for aspnet5 and aspnetcore5 ?"
Any plans for support for aspnet5 and aspnetcore5 ?

[2015-03-27 10:54] michaelklishin commented on #51
How is ASP.NET relevant to this project? Do you mean .NET 5, perhaps? It likely should work without any modifications.

[2015-03-27 10:54] #51 closed

[2015-03-27 10:54] michaelklishin commented on #51
It's a good idea to post questions to [rabbitmq-users](https://groups.google.com/forum/#!forum/rabbitmq-users).

[2015-03-27 11:41] StefH commented on #51
Indeed, I was referring to vNext : http://www.asp.net/vnext/overview/aspnet-vnext/aspnet-5-overview

[2015-03-27 11:45] michaelklishin commented on #51
We'll assess compatibility with it as soon as it is out.

[2015-03-27 12:12] michaelklishin commented on #50
@jag919 I've added a test in 134905d that does not reproduce the problem. We'll try with some manual testing.

[2015-03-27 13:53] michaelklishin commented on #50
Manual testing with a couple of F# scripts also doesn't reveal the problem.

###  Publisher

[code]

###  Consumer

[code]

#### Steps Taken to Reproduce

 1. Start consumer.
 2. Start publisher.
 3. Check that consumer has consumed 100 messages.
 4. Stop RabbitMQ.
 5. Start RabbitMQ in 5-10 seconds.
 6. Check that consumer's reconnected in the management UI.
 7. Start publisher.
 8. Check that co

[2015-03-27 13:53] #50 closed

[2015-03-27 13:55] michaelklishin commented on #50
Inspecting the code suggests that every `AutorecoveringConnection` upon reconnection gets a new `Connection` instance, which in turn sets up a `ConsumerWorkService` instance, which instantiates `BatchingWorkPool`. So all should be re-initialised.

[2015-03-27 14:26] michaelklishin opened #52 "Consider providing constants/enumeration for known headers"
To make problems [such as this one](https://groups.google.com/d/msg/rabbitmq-users/DIJLJByMd7M/7nCzHRgQ1hAJ) less likely.

[2015-03-31 15:25] dumbbell commented on #47
Commits fixing this issue were cherry-picked to `stable`.

[2015-04-01 14:33] dumbbell commented on #46
Since 3.5.0.

[2015-04-01 14:39] dumbbell commented on #43
Since 3.4.0.

[2015-04-01 14:56] dumbbell commented on #40
Since 3.5.0.

[2015-04-06 15:00] BrentSouza opened #53 "MapMessageBuilder.GetContentBody() throws NullReferenceException"
Looks like the Body is being set to null before actually writing the contents.

[code]

[2015-04-06 15:03] michaelklishin commented on #53
That indeed looks wrong. Was changed in 795a718c1973f418ce7f6adac866ae587b03a4db. Feel free to submit a PR that undoes the damage :)

[2015-04-06 15:12] michaelklishin commented on #53
@BrentSouza see #55. You can [build the library from source](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/RUNNING_TESTS.md#building) and give it a try.

[2015-04-06 16:39] #53 closed

[2015-04-06 22:50] michaelklishin commented on #20
Will file a separate issue for the tutorials.

[2015-04-06 22:50] #20 closed

[2015-04-06 22:51] michaelklishin opened #56 "Use named arguments in C# tutorials"
See https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/20. It's already possible in C# as we require .NET 4.0 now, so we should update the tutorials.

[2015-04-10 15:01] osudude opened #57 "Consider extracting System.ServiceModel reliant code into seperate assembly"
Would like to use RabbitMQClient.dll in MSSQL CLR but it is blocked by SQL because of the System.ServiceModel dependency (System.ServiceModel is considered unsafe by SQL).
It would be nice if the rabbit code that relies on System.ServiceModel could be extracted to a separate optional assembly.

[2015-04-10 15:09] michaelklishin commented on #57
We have heard such requests before. @osudude would you be interested in working on a pull request that does this? Our development process is fairly straightforward and we have a tiny team, so this likely won't be a high priority. But we are open to including this change (for 3.6.0, because I suppose this will break existing apps).

Thank you!

[2015-04-14 09:26] michaelklishin opened #58 "Connection handle leak"
See [this thread](https://groups.google.com/d/msg/rabbitmq-users/VGK5zVMUJmU/8_3KdrqRP88J). The report includes a test case which looks reasonable.

[2015-04-14 09:45] michaelklishin commented on #58
First attempt at reproducing this: unsuccessful.

[code]

Output:

[code]

[2015-04-14 10:36] michaelklishin commented on #58
Leaving this open to see if we can gather more details.

[2015-04-14 18:59] chrhlnd commented on #58
Possibly a tangent. I've noticed the Heartbeat timers not getting cleaned up while debugging on my project. Had a use case where a connection would get setup and torn down as needed. My timers kept growing forever though causing various reference to exist in the vm forever.

Connection.cs

~95

        private Timer _heartbeatReadTimer;
        private Timer _heartbeatWriteTimer;

Don't seem to ha

[2015-04-14 19:20] michaelklishin commented on #58
@chrhlnd yup, that seems to be the case, thank you!

[2015-04-14 21:02] #58 closed

[2015-04-14 21:03] michaelklishin commented on #58
@chrhlnd please try with master (a nightly build will be available tomorrow). Thank you for pointing this out.

[2015-04-14 21:14] michaelklishin commented on #58
I've cherry-picked this to `stable`.

[2015-04-15 13:46] michaelklishin opened #60 "Introduce a convenience method that returns the number of messages in a queue"
That's one of the most common questions on the list.

[2015-04-17 14:59] michaelklishin opened #63 "Closing a channel should not affect consumer dispatch for other channels"
Fixed in #61 and #62, filing for change log purposes. Will cherry-pick to `stable`.

[2015-04-17 14:59] #63 closed

[2015-04-22 19:02] btecu opened #68 "3.4.4 -> 3.5.1 Timeout"
I have a small wrapper using this library on .NET 4.5.
I've updated from 3.4.4 to 3.5.1 and now, the connection gets closed and it crashes whenver I try to awknowledge a message:
*AMQP close-reason, initiated by Library, code=0, text="End of stream"*

I've found that this only happens when processing the message takes more than the current `RequestHeartbeat`. So if I increase it, it `Ack()` fine,

[2015-04-22 19:54] michaelklishin commented on #68
3.5 uses timers for heartbeats. I suspect there's an interesting side-effect to that that we haven't foreseen.

[2015-04-22 19:56] michaelklishin commented on #68
Can you please do a wire capture with Wireshark or our [Tracer tool](http://www.rabbitmq.com/java-tools.html) (writes to stdout)? Use a small heartbeat timeout value, e.g. 5 seconds.

[2015-04-22 20:51] btecu commented on #68
Tracer doesn't seem to want to cooperate:
[code]

I did find the following in the logs:
[code]

[2015-04-23 13:41] #39 closed

[2015-04-23 16:28] michaelklishin commented on #68
I could reproduce it but it's sporadic. Investigating.

[2015-04-23 22:30] michaelklishin commented on #68
Can someone please [build the client](http://www.rabbitmq.com/build-dotnet-client.html) from branch [rabbitmq-dotnet-client-68](https://github.com/rabbitmq/rabbitmq-dotnet-client/tree/rabbitmq-dotnet-client-68) and give it a try?

I believe it fixes the issue (there was a couple of issues, in fact). I'll leave a test running for 6-8 hours.

[2015-04-24 00:53] btecu commented on #68
I'll give it a try tomorrow. Thanks for your help.

[2015-04-24 12:44] btecu commented on #68
I now get a different error, although it may be related:
`AMQP close-reason, initiated by Library, code=0, text="End of stream", classId=0, methodId=0, cause=System.IO.IOException: Unable to write data to the transport connection: An existing connection was forcibly closed by the remote host. ---> System.Net.Sockets.SocketException: An existing connection was forcibly closed by the remote host`.

[2015-04-24 12:46] michaelklishin commented on #68
That message means that TCP connection was closed: what's in RabbitMQ log? Please always consult RabbitMQ log when investigating a heartbeat issue.

Any activity counts for a heartbeat, including acks. Values < 5 seconds are generally unnecessary and may result in false positives with slow networks, although I've added tests with values from 2 to 6.

[2015-04-24 12:47] michaelklishin commented on #68
I've just pushed something that should improve the situation for very low heartbeats (1-3 seconds). Please pull, rebuild and give it another try.

[2015-04-24 12:48] michaelklishin commented on #68
The branch I'm pushing to is [rabbitmq-dotnet-client-68](https://github.com/rabbitmq/rabbitmq-dotnet-client/commits/rabbitmq-dotnet-client-68).

[2015-04-24 13:47] michaelklishin commented on #68
I was still able to reproduce timeouts after a longer period of time. Back to the drawing board.

[2015-04-24 13:51] btecu commented on #68
I just tried the update.
Before the update, I could see the connection was closed right when I was about to `Ack()`. Now it's not closed at that point and I stepped into `ModelBase.cs` and I see the connection closed at `ModelSend()`:
`CloseReason: {AMQP close-reason, initiated by Library, code=0, text="End of stream", classId=0, methodId=0, cause=System.IO.IOException: Unable to write data to the

[2015-04-24 14:03] michaelklishin commented on #68
What you see is RabbitMQ closing TCP connection due to a detected heartbeat, then the client fails a write.

[2015-04-24 15:23] osudude commented on #57
I'll take a look at it.  If not crazy hard, will try to make the change and submit a pull request.
thanks
scott

Date: Fri, 10 Apr 2015 08:09:12 -0700
From: notifications@github.com
To: rabbitmq-dotnet-client@noreply.github.com
CC: skmcfadden@msn.com
Subject: Re: [rabbitmq-dotnet-client] Consider extracting System.ServiceModel reliant code into seperate assembly (#57)

We have heard such requests

[2015-04-24 15:45] michaelklishin commented on #68
With the most recent precision fix I've been running 500 connections with intervals from 1 to 7 seconds for about an hour now.

@btecu we are ready for another round :)

[2015-04-24 16:35] btecu commented on #68
It works perfectly! Thanks.

[2015-04-24 16:55] michaelklishin commented on #68
My tests have been running for a few hours and also see not a single heartbeat timeout. Will merge soon.

[2015-04-24 17:33] #68 closed

[2015-04-24 21:44] mikebridge commented on #58
I can confirm that the nightly build of the 3.5.2 prerelease fixes a memory leak which is leaving several objects in memory, including RabbitMQ.Client.Framing.Impl.Connection.  Is there any timeline on an official update to nuget?

[2015-04-24 21:47] michaelklishin commented on #58
3.5.2 is scheduled for the first decade of May.

[2015-04-25 01:20] michaelklishin opened #72 "Fixes for #68 need to be adapted for WinRT version"
Recent heartbeat implementation changes break WinRT client: it doesn't have `SocketException`, for example, plus `System.Threading.Timer#Change` does not have an override that accepts `TimeSpan`s.

[2015-04-25 01:20] michaelklishin commented on #72
@ngbrown let me know if you may have a chance to look into this. If not I'm happy to dive in.

[2015-04-25 03:45] osudude commented on #57
@michaelklishin Quick question, I removed the assembly reference to System.ServiceModel from RabbitMQ.Client and surprisingly everything seems to build without error.  What code in RabbitMQ.Client actually uses System.ServiceModel?

thanks

[2015-04-25 07:44] mikebridge commented on #58
Any thoughts about the possibility creating a beta release on nuget?  This seems like a pretty serious defect---I assume it will affect anyone who tries to use it.

I've been trying all night to hack a working version from the nightly builds but the transient dependencies with strong naming is killing me. :(

[2015-04-25 09:03] mikebridge commented on #58
Finally got it working with 3.4.0.

[2015-04-25 10:04] michaelklishin commented on #58
@mikebridge yes, you can use a earlier version of the client. Client and server versions don't have to be in lock step.

[2015-04-25 10:06] michaelklishin commented on #57
@osudude pretty sure nothing in the client code should depend on `ServiceModel`: the client is Mono-compatible while `ServiceModel` is Windows-only.

[2015-04-25 14:50] osudude commented on #57
So for the windows build of the client assembly it is safe to remove the System.ServiceModel assembly reference?  Is there a good unit test I can run to verify nothing is broken or do I just need to go manually try it out?

thanks

[2015-04-25 15:19] michaelklishin commented on #57
You can run the client test suite. We'll do it to verify your PR anyway :)

[2015-04-25 16:13] osudude commented on #57
Installed Rabbit 3.51 and Erlang on my dev box (win2012).  Tried the tests inside of Visual Studio 2013 using resharper test runner.

Is there an assumed relationship of test code location to installed rabbit location?  I get several errors like the following:

Failure while running cmd.exe /c ""..\..\..\..\..\..\rabbitmq-server\scripts\rabbitmqctl.bat" -n rabbit@SMPC2 list_connections -q pid peer

[2015-04-25 16:20] michaelklishin commented on #57
You must run rabbitmq-server from the umbrella. See [Running Tests](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/RUNNING_TESTS.md).

[2015-04-25 16:54] osudude commented on #57
Got the umbrella project.  Getting new test errors now.  Guess I need to build the umbrella?  How do you build the umbrella on a Visual Studio 2013 / windows machine?

SetUp : RabbitMQ.Client.Exceptions.BrokerUnreachableException : None of the specified endpoints were reachable
  ----> RabbitMQ.Client.Exceptions.ConnectFailureException : Connection failed
  ----> System.Net.Sockets.SocketException

[2015-04-25 17:36] michaelklishin commented on #57
You need to start RabbitMQ: `make run` in the server directory.

[2015-04-25 17:44] mikebridge commented on #58
@michaelklishin Good to know, thanks!  Memory is still stable after 9 hours, so the switch to 3.4.0 seems to have fixed it for the time being.

[2015-04-25 18:22] michaelklishin commented on #58
Also, unless you configure the server to enable TLS, provide certificates and key, etc, you will see 5 failures saying that broker on port 5671 is not reachable. Don't worry about it.

[2015-04-25 23:47] michaelklishin commented on #57
Also, unless you configure the server to enable TLS, provide certificates and key, etc, you will see 5 failures saying that broker on port 5671 is not reachable. Don't worry about it.

[2015-04-27 18:28] michaelklishin opened #73 "Introduce a convenience method that returns the number of consumers on a queue"
Like https://github.com/rabbitmq/rabbitmq-java-client/issues/49 but for .NET client.

[2015-04-27 18:28] michaelklishin opened #74 "Introduce a convenience method that returns the number of messages in a queue"
Like https://github.com/rabbitmq/rabbitmq-java-client/issues/41 but for .NET client.

[2015-04-27 19:40] #74 closed

[2015-04-27 19:55] #73 closed

[2015-04-28 06:51] scratch-net opened #77 "RabbitMQ randomly disconnects from server on localhost"
I use RabbitMQ 3.5.1 and latest .net client.
I often get
System.IO.EndOfStreamException: SharedQueue closed
   at RabbitMQ.Util.SharedQueue`1.EnsureIsOpen()
   at RabbitMQ.Util.SharedQueue`1.Dequeue(Int32 millisecondsTimeout, T& result)

though both client and server reside on the same host & heartbeat is enabled

An example of a program that receives such errors is:
[code]

[2015-04-28 08:28] michaelklishin commented on #77
#68, #71.

[2015-04-28 08:28] #77 closed

[2015-04-28 19:25] osudude commented on #57
C:\Dev\GitHub\rabbitmq\rabbitmq-public-umbrella [master]>

make : The term 'make' is not recognized as the name of a cmdlet, function, script file, or operable program. Check
the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:1
+ make run
+ ~~~~
    + CategoryInfo          : ObjectNotFound: (make:String) [], CommandNotFoundException

[2015-04-28 20:11] michaelklishin commented on #57
@osudude we use [Cygwin](https://www.cygwin.com/), and select `make`, `libxslt`, `python`, `git`, and other tools (not relevant to this sub-project).

Just push your branch somewhere. I'll test it for you.

[2015-04-29 00:06] pachuka opened #78 "QueueDeclare with AutoDelete = true is causing Queue to be deleted before it can be bound?"
Hi All,

Running into a strange issue upgrading from 3.4.x to 3.5.1. (Could be that my usage is incorrect.)

I declare a queue/bind as follows (this used to work fine in 3.4.x):

msgBusChannel = mMsgBusConnection.CreateModel();
msgBusChannel.ExchangeDeclare(mExchangeName, ExchangeType.Topic);
msgBusChannel.QueueDeclare(mQueueName, false, false, true, null);
msgBusChannel.QueueBind(mQueueName, mExc

[2015-04-29 00:51] pachuka commented on #78
Nevermind... Writing it out here and the API change logs helped me figure it out. Looks like the issue is that my while loop was checking on the consumer.IsRunning being true, but now that things are more parallel with the RabbitMQ.Client it seems like that isn't necessarily true immediately after starting the BasicConsume. The exception was happening because it was skipping over the while loop an

[2015-04-29 00:51] #78 closed

[2015-04-29 06:41] vasily-kirichenko opened #79 "Model.QueueDeclare hangs forever"
![image](https://cloud.githubusercontent.com/assets/873919/7385748/c2844b04-ee53-11e4-8433-27cb29c3da95.png)

The process has single thread running and it's stuck in the above state forever (at least hours).
How I can investigate the issue further?

[2015-04-29 07:50] michaelklishin commented on #79
Either you have a resource alarm (so RabbitMQ stops reading from the socket), or your client is connected to a mirror and there was a network split with master on the opposite side of it. Both cases should be visible in the logs.

We should introduce continuation timeouts, since it's a lot easier to do for C#, which doesn't have the misfortune of checked [timeout] exceptions.

[2015-04-29 07:50] #79 closed

[2015-04-29 08:28] michaelklishin opened #80 "Make continuation timeouts configurable"
See #79. This is a lot less painful in C# as far as changing the API goes: we are not tied by checked exceptions.

[2015-04-30 01:56] osudude commented on #57
Is there a specific branch for Rabbitmq client .NET 3.5?

[2015-04-30 03:01] btecu opened #81 "Support connection lists and host selection strategies"
I think it would be very useful to have a thin wrapper. For instance, the Java client supports creating a connection factory providing an array of addresses (ip and port). I read something about auto-healing although I don't remember seeing it documented and so I'm not sure if it's fully supported.

Specifically, I would like to be able to provide multiple servers and the client should take care o

[2015-04-30 07:14] michaelklishin commented on #60
Fixed in master.

[2015-04-30 07:14] #60 closed

[2015-04-30 07:15] michaelklishin commented on #81
Automatic connection recovery [is provided in the .NET client](http://www.rabbitmq.com/dotnet-api-guide.html). The only thing it is missing is a way to specify a list of hosts.

[2015-05-03 01:15] michaelklishin commented on #72
I took a couple of swings at it. While WinRT provides a way to produce "regular" `SocketStream`s that `NetworkByteReader` can accept, we currently get confusing socket errors.

After re-implementing `NetworkByteReader` on top of `DataReader` and `async/await` it turned out that `RabbitMQ.Client.Content` (primarily exists to support a QPid client feature not a lot of people use) needed a lot of twe

[2015-05-03 15:12] michaelklishin commented on #72
Tried a couple of alternative approaches. We always run into the same issue: Windows Runtime-specific classes leak and Windows assembly must be referenced to use them in the `Unit` project. Creating a new Windows 8/8.1-specific project means "regular" .NET assemblies used by unit tests are no longer accessible.

I'll try getting it to the point when heartbeats work in the happy case on WinRT and a

[2015-05-03 15:40] michaelklishin opened #82 "Switch heartbeat implementation back to reset events"
See comments in #72. To support WinRT and not subject ourselves to x10 times the maintenance pain, we should perhaps abandon the idea of using socket read timeouts (to which we've switched recently in 9a688e92a05e25c43674d3a94532e607366b7a84).

[2015-05-03 16:02] michaelklishin opened #83 "async/await API"
Originally this issue was about enabling of message publishing with a natural future ("awaitable" in the .NET world) API.

After some discussions with the .NET community, it makes more sense for us to switch to `async/await` entirely. This is a major change. The users who cannot upgrade in the meantime will be able to use `3.6.x` versions with future RabbitMQ releases.

The decision is to develop

[2015-05-03 16:30] michaelklishin commented on #57
@osudude even more so that most of its public instance methods are not synchronised at all. Thank you for digging this out. Would requiring .NET 4.5 provide an alternative?

[2015-05-03 16:55] #72 closed

[2015-05-03 18:03] osudude commented on #57
Eventually, .NET 4.5 will be on the table once we upgrade from SQL2008 to SQL2014.  Until then, looks like we are stuck with RabbitMQ 3_4_3.  Won't help now,  but I did write up a MS Connect issue to move SynchronizedCollection:

http://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/7803021-consider-moving-synchronizedcollection-t-from-sys

Found another spot where SQL CLR is n

[2015-05-03 18:10] michaelklishin commented on #57
@osudude feel free to submit small PRs against master. We're all for supporting SQL CLR, even if it'd have to be a newer version.

Should we close this issue and file a new more specific one? As I understand the root problem is in .NET itself.

[2015-05-03 18:10] osudude commented on #57
Here is one last change I had to make for SAFE CLR use on Rabbit 3_4_3

"CREATE ASSEMBLY failed because type 'RabbitMQ.Client.Framing.Impl.Connection' in safe assembly 'RabbitMQ.Client' has a static field 'HandshakeTimeout'. Attributes of static fields in safe assemblies must be marked  readonly in Visual C#, ReadOnly in Visual Basic, or initonly in Visual C++ and intermediate language."

Had to a

[2015-05-03 18:11] michaelklishin commented on #57
Both of the changes make sense and are something we'd accept ;)

[2015-05-03 18:15] osudude commented on #57
You can close this issue if you want.  Only had to do 2 things to get Rabbit 3_4_3 up to snuff for SAFE CLR use.

1. Remove System.ServiceModel dependency.
2. Mark public static attributes as readonly.

thanks

[2015-05-03 19:03] #57 closed

[2015-05-03 20:01] michaelklishin commented on #57
@osudude see https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/85. Thank you for the suggestions. I've removed the `System.ServiceModel` reference and at least on 4.0+, everything seems to be dandy.

We'd greatly appreciate if you could tell us if we are compatible with SQL CLR in SQL Server 2014 with this change :)

[2015-05-03 20:05] michaelklishin commented on #16
This is now in master. we still have to fix #82 and evaluate how we'd like to distribute the two versions but if all you need is a WinRT-compatible `.dll`, you can build and use one today. Huge thanks to @ngbrown for his enormous contribution!

[2015-05-03 20:05] #16 closed

[2015-05-03 20:07] osudude commented on #57
Thanks, I am now mucking around with CAS permissions in SQL CLR.  Seems like default behavior is to block DNS and external threading access to CLR procs.  I'm sure there is a way around it.  Just trying to figure out how to make that happen in SQL.

[2015-05-03 20:22] osudude commented on #57
@michaelklishin Is RabbitMQ strong named?

[2015-05-03 20:31] michaelklishin commented on #57
@osudude yes, releases are signed with a key. Unoffficial (local) builds are, too, if you provide a key.

[2015-05-03 20:32] michaelklishin commented on #57
@osudude see [Strong Naming](http://www.rabbitmq.com/dotnet.html) on our download page.

[2015-05-03 22:47] osudude commented on #57
@michaelklishin Finally got my local modified build of RabbitMQ.Client 3_4_3 to work in SQL targeting .NET 3.51.  In SQL, you have to register the RabbitMQ.Client assembly as unsafe or external access because it requires network access and external threading.  I still need to try out your latest master build targeting .NET 4.51 in SQL 2014.

[2015-05-03 23:22] osudude commented on #57
@michaelklishin Just tried out the master build with your latest changes for SQL2014 CLR.  Works great in SQL2014 targeting .NET 4.5 (assuming you register the assemblies with SQL correctly).

thanks

[2015-05-03 23:30] osudude commented on #57
@michaelklishin I noticed the assemblyinfo.cs get dynamically swapped out at build time using the version from Local.Props.  That's cool.  Is this a custom build task that does this?

[2015-05-03 23:36] michaelklishin commented on #57
@osudude yes, "detokenize". It's based on MSBuild community tasks, specifically [TemplateFile](https://github.com/loresoft/msbuildtasks/tree/master/Source/MSBuild.Community.Tasks/TemplateFile).

[2015-05-06 13:44] dumbbell commented on #68
I change the milestone to 3.6.0 because it was merged to `master`.

[2015-05-06 13:55] btecu commented on #68
So it won't make it into 3.5.2?

[2015-05-06 14:01] dumbbell commented on #68
Sorry, disregard my comment, my working copy of the stable branch was out-of-date. It will be in 3.5.2.

[2015-05-06 14:05] michaelklishin commented on #68
It should be in stable already.

MK

[2015-05-06 14:43] osudude commented on #68
@michaelklishin Thanks for the help!

[2015-05-08 02:28] marcogrcr opened #87 "Subscription gets stuck when publishing with a separate IModel in v3.5.0+"
**Environment:**
* Windows 7 x64
* Erlang 17.1
* RabbitMQ Server 3.5.1

Ever since the pull request #37 was merged (v3.5.0+) the following code stopped working:
[code]

If you run the previous code using the client library v3.4.3-, the messages will echo just fine. If you run it using v3.5.0+, the messages will get stuck in the queue as 'Unacked' and they will never echo.

Is this a bug, or have I

[2015-05-08 02:44] michaelklishin commented on #87
What version exactly do you use?

[2015-05-08 02:56] marcogrcr commented on #87
I tested both 3.5.0 and 3.5.1 NuGet packages and got the same result.

[2015-05-08 08:00] michaelklishin commented on #87
I'm pretty sure it is https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/63, which will be in 3.5.2. Use nightly builds or 3.4.x for now.

[2015-05-08 08:00] #87 closed

[2015-05-08 16:15] acquleo commented on #58
hi @michaelklishin,
from my point of view the test must be changed in that way:

            var cf = new ConnectionFactory();
            var me = Process.GetCurrentProcess();
            Console.WriteLine("{0} handles before the test...", me.HandleCount);
            //do job
            me = Process.GetCurrentProcess(); //update process information
            Console.WriteLine("{0} handles aft

[2015-05-08 16:20] michaelklishin commented on #58
@acquleo this is an equally simplistic test. You need to run it for a long time and then wait for minutes to make sure all connections are closed.

I'm not sure what a "real" handle leak is. Feel free to profile what objects may still be leaked. There are a few days to try to get a better version into 3.5.2.

[2015-05-08 16:29] acquleo commented on #58
@michaelklishin with 100 cycles the handle count change from ~200 to ~800.
244 handles before the test...
822 handles after the test...
Do you mean that they will be destroyed after some time?

[2015-05-08 16:47] acquleo commented on #58
@michaelklishin what I tried to said is that the code on the unit test is not only simplistic but wrong because it read the handle count only the first time.
On the second Console.WriteLine it display the same variable with the same value of the first WriteLine.

 var me = Process.GetCurrentProcess();
Console.WriteLine("{0} handles before the test...", me.HandleCount);
//do job
Console.WriteLine("

[2015-05-08 19:26] michaelklishin commented on #58
@acquleo I have no reason to not believe you but the docs do not suggest that `GetCurrentProcess` returns an immutable snapshot. Again, feel free to take a look into it: memory profiler should quickly tell us what it it may be. Yes, TCP connections are not always released immediately by the OS.

[2015-05-09 09:45] acquleo commented on #58
@michaelklishin I was testing the official binary dll, but the leak it doesn't happen with the compiled library from source code... so it will be fixed with 3.5.2.
Thanks

[2015-05-09 12:08] michaelklishin commented on #58
@acquleo thank you for confirming!

[2015-05-11 11:50] dumbbell commented on #53
Since RabbitMQ 3.5.0.

[2015-05-11 11:55] dumbbell commented on #58
Since RabbitMQ 3.5.0.

[2015-05-13 16:14] Pliner commented on #81
Very good news :+1:

It seems to be the last step in .Net client before migrating to its recovery mechanism in EasyNetQ!

[2015-05-13 16:19] michaelklishin commented on #81
Excellent. I'm fairly happy with how this is shaping up.

[2015-05-14 06:26] scratch-net commented on #81
@Pliner
Does it mean that EasyNetQ will use the built in recovery mechanism instead of its own?

[2015-05-14 10:52] #52 closed

[2015-05-18 16:16] cjbhaines opened #89 "Subscription.Close() hangs if queue is deleted underneath it"
Hi,

I'm in the process of trying to upgrade from 3.1.1 to 3.5.2. We have some integration tests in our libraries which wrap the RabbitMQ.Client and test for deleting a queue from underneath the consumer and handle recreating it which fail with the 3.5.2.

In 3.1.1 Subscription.Next would return true but have a null delivery which is a sign for us to restart our consumer loop because it's not in a

[2015-05-18 16:22] michaelklishin commented on #89
Anything in the RabbitMQ logs around the time?

[2015-05-18 16:26] cjbhaines commented on #89
Just this:

=INFO REPORT==== 18-May-2015::17:25:04 ===
accepting AMQP connection <0.433.0> ([::1]:53796 -> [::1]:5672)

=WARNING REPORT==== 18-May-2015::17:25:06 ===
closing AMQP connection <0.433.0> ([::1]:53796 -> [::1]:5672):
connection_closed_abruptly

[2015-05-19 01:03] michaelklishin commented on #89
@cjbhaines so the change in behaviour seems to be since 3.3.x, am I understanding correctly? I'll look into this once I'm back from being on the road next week.

[2015-05-19 07:39] cjbhaines commented on #89
I suspect this is a client side issue as 3.1.1 works with all server versions I have tested, and from looking at the release notes the .NET client changes started from 3.2.0. I will look at testing every version up from there to see when it starts deadlocking itself.

[2015-05-19 09:06] cjbhaines commented on #89
I can reproduce this from 3.2.0 onwards.

[2015-05-19 15:57] michaelklishin commented on #89
May have to do with bug `25716`, which is about making `queue.delete` idempotent.

[2015-05-19 15:57] michaelklishin commented on #89
Thanks for bisecting it!

[2015-05-19 15:58] michaelklishin commented on #89
This may be due to a behaviour change of `queue.delete` in bug `25716`: the method is now idempotent. Consumer cancellation notifications should not be affected, though.

[2015-05-19 17:06] cjbhaines commented on #89
No worries, thanks for looking into this! It's worth noting the queue delete uses a different channel. In other scenarios I have tried I have even used a different connection.

[2015-05-20 19:56] mfloryan commented on #56
Shouldn't this be an issue on https://github.com/rabbitmq/rabbitmq-tutorials ?

[2015-05-20 19:58] michaelklishin commented on #56
This issue grew out of something filed in this repo. We can move it.

[2015-05-20 20:39] mfloryan opened #90 "`SocketException` thrown when receiving heartbeats"
When a connection is established to a rabbit server with *heartbeats* enabled the rabbit connection thread regularly throws `SocketException`. It appears the exception is roughly thrown with every other heartbeat message received from the server.
The exception is handled by the driver silently (and thus doesn't affect the client directly) but may indicate an existing bug with the socket use.

The

[2015-05-20 20:56] michaelklishin commented on #90
Can you post a small example that reproduces the problem as well as RabbitMQ log files?

[2015-05-20 21:03] mfloryan commented on #90
This is sufficient to reproduce the problem:

[code]

And full network trace is created by adding this section to `app.config`

[code]

The rabbit server log only has:
[code]

[2015-05-20 23:55] michaelklishin commented on #90
@mfloryan ok, then it seems to be mostly noise (socket timeouts happen but heartbeat implementation seemingly works correctly nonetheless). I'll look into it.

[2015-05-21 00:05] michaelklishin commented on #90
@mfloryan to clarify, is your concern in the fact that exceptions happen or is there actual connectivity loss from the client (or anything else which you find functionally problematic)?

[2015-05-21 21:35] mfloryan commented on #90
@michaelklishin I have seen no evidence (in Wireshark) of the connection actually being lost. So on that ground I think we're fine.
It is indeed the number of exceptions that are being thrown that is of some concern. We monitor our application and amongst other things we're monitoring the .Net exceptions and this is creating a level of noise that is less than desirable.

[2015-05-21 21:40] michaelklishin commented on #90
Understood, thank you, we will look into handling these exceptions to avoid the scary and unnecessary noise.

[2015-05-29 08:51] tommy-carlier opened #91 "Async methods not available on .NET 4 or 4.5"
The asynchronous methods (e.g. *SharedQueue.DequeueAsync*) are not available in .NET 4 or 4.5, even though the source code indicates that these methods should be available (#if NETFX_CORE || NET4).

I suspect that the NET4 conditional symbol is not set correctly.

In some places, #if NETFX_CORE is checked without including NET4, even though it should.

It might be a good idea to introduce a condit

[2015-05-29 09:00] michaelklishin commented on #91
WinRT is still a work in progress. Feel free to look into things that should be done differently and submit a PR :)

[2015-05-29 12:35] #81 closed

[2015-05-30 16:11] michaelklishin commented on #89
Fixed by #93.

[2015-05-30 16:11] #89 closed

[2015-06-01 12:48] cjbhaines commented on #89
Fix looks good, thanks!

[2015-06-04 17:25] rjrizzuto opened #94 "Provide a logging abstraction"
It might be helpful to log exception/error cases from the .Net library to help in problem resolution.  I think Common.Logging is a good candidate for this.  It is a logging facade rather than a logging framework, so the user of RabbitMQ.Client can choose to use NLog, Log4net, etc. If nothing is configured specifically, Console.Logging logs NoOpLoggerFactoryAdapter.

Here's a perfect case in point

[2015-06-05 15:48] cjbhaines commented on #94
I think it would be a bad idea to add dependencies to this library. Every single consumer of it would then be forced to reference Common.Logging which is not a desirable situation. You only really want it to log on bugs in the internal code but the test coverage should be good enough to catch those before it's released. I think an event on the AutorecoveringConnection to notify of RecoveryFailed w

[2015-06-05 16:04] michaelklishin commented on #94
I'm not sure I agree with this. Exceptions do happen from time to time and it's not a great idea from the operations perspective to not have any logging.

We can make the client depend on Common.Logging, and if no logging is configured, it will be a no-op.

[2015-06-05 16:33] michaelklishin commented on #94
[This Twitter thread](https://twitter.com/RabbitMQ/status/606858510828236803) makes me wonder if emitting events is a safer bet. Java client-style exception handler is another option.

[2015-06-05 16:52] rjrizzuto commented on #94
I will add my 2 cents that other libraries have dependencies, and that NuGet is designed to handle installing dependencies when a library is added.    For example, we are using NEsper in our application, and it has several dependencies, including one on Common.Logging.

I read the twitter thread, and I see their points as well, and have hit some issues with dll dependencies on different versions o

[2015-06-05 18:51] michaelklishin commented on #94
We'll investigate LogLib and Logary.

[2015-06-16 03:40] hammett opened #96 "CreateBasicProperties returns an instance with header = null and no way to set one."
Maybe I'm using it wrong:

var prop = _model.CreateBasicProperties()
prop.Headers.Add ( .. .) // null exception

shouldnt it be lazy instantiated, by accessing the property?

[2015-06-16 03:46] hammett commented on #96
Nevermind, it's writable hence I can set my own header.

[2015-06-16 03:47] #96 closed

[2015-06-17 07:51] matthew1471 opened #97 "Connection Thread Performance Issue?"
Hi,
I've been working on an application that handles a LOT of messages and after optimising my code to every bit of its life believe I have found a performance issue in rabbitmq-dotnet-client v3.5.3.

Visual Studio 2013 performance analysis points out that the majority of the program now spends its time executing this:
[code]
projects\client\RabbitMQ.Client\src\client\impl\Connection.cs

I've noti

[2015-06-17 07:56] michaelklishin commented on #97
Please ask questions on the mailing list. Opening new channels does not "slow down" I/O loop and even if it did, I don't see how your consumer throughput increases. Using more channels and consumers means a higher degree of concurrency in the client.

In 3.5 you can provide your own task scheduler and dispatch is concurrent, with per-channel ordering preserved. Previously all operations were dispa

[2015-06-17 07:56] #97 closed

[2015-06-17 07:59] matthew1471 commented on #97
Hi Michael, I saw this as an issue so felt it was best to discuss the issue here.. but if the mailing list is more appropriate I will write it there :-).

Thanks,
Matthew

[2015-06-17 08:04] michaelklishin commented on #97
Also, I don't know what kind of profiler you used but sampling profilers will always indicate that the I/O loop is the top item even though all it does is reading and parsing incoming data, potentially waiting for I/O. This cannot be parallelised in practice for a single connection.

The I/O loop can be migrated to newer kernel I/O API now that we require a recent .NET version but
for *clients* it

[2015-06-17 08:05] michaelklishin commented on #97
And then there is [a blog post](https://www.rabbitmq.com/blog/2014/04/14/finding-bottlenecks-with-rabbitmq-3-3/) about consumers and QoS settings' effect on throughput.

[2015-06-17 08:27] matthew1471 commented on #97
when using wait handles / semaphores the Visual Studio 2013 Performance Analysis doesn't show up my threads anymore.. I think it's more that VS is seeing the conditional check as being executed an excessive number of times rather than the actual I/O.. the I/O does come up in the list of top items (which is like you said, exactly what should be expected) but the while loop conditional check should

[2015-06-17 23:51] michaelklishin opened #98 "Drop immediate flag"
It isn't supported as of RabbitMQ 3.0 and was removed in many other clients.

[2015-06-18 23:23] michaelklishin commented on #82
Fixed for `stable`, needs to be ported to master.

[2015-06-18 23:25] michaelklishin opened #100 "Heartbeats are not properly sent over TLS connections"
As reported on the mailing list. Fixed in #99, which covers `stable` => milestone `3.5.4`.

[2015-06-18 23:25] #100 closed

[2015-06-21 00:47] michaelklishin commented on #90
This should be fixed with #82.

[2015-06-21 00:47] michaelklishin commented on #82
Merged into master.

[2015-06-21 00:47] #82 closed

[2015-06-21 00:48] michaelklishin opened #102 "Connection churn handle leak test failures"
Note: only in master, not in `stable`.

[2015-06-21 20:04] #102 closed

[2015-06-21 20:05] #98 closed

[2015-06-21 20:05] #90 closed

[2015-06-22 08:01] michaelklishin commented on #94
We've decided to provide more event handlers so that applications can use the logging library that suits them. We may still consider LogLib or Logary in the future.

[2015-06-24 09:34] rmja opened #103 "Support the new project.json and coreclr"
Hi,

The RabbitMQ.Client should support the new project.json project format https://github.com/aspnet/Home/wiki/Project.json-file, and the "dnxcore50" target framework moniker (TFM), to allow for the client to run on the new platform independent coreclr.

Here is an incomplete project.json draft:

[code]

[2015-06-24 09:43] michaelklishin commented on #103
Thanks, we will consider supporting it as soon as a .NET version based on dnxcore50 is released. We have Windows Runtime support to ship first, and it is non-trivial to support both frameworks.

[2015-06-24 09:43] #103 closed

[2015-06-24 19:03] michaelklishin commented on #56
Thank you. I'll close this when we update rabbitmq-website to match.

[2015-06-24 19:05] Pliner commented on #56
As I see now, I forgot to update cs files from dotnet folder... :(

[2015-06-24 19:16] Pliner commented on #56
Done!

[2015-06-24 19:44] Pliner commented on #56
@michaelklishin If you want I could update website too, but actually site has a bit different version of .cs in comparison to dotnet-visual-studio folder. Should I replace site versions to dotnet-visual-studio folder?

[2015-06-24 19:46] michaelklishin commented on #56
I'd rather adapt the tutorials for now. There will be more code changes coming, so we'll have a way to compare the two and pick a version we like more.

[2015-06-25 21:20] michaelklishin opened #105 "Connection#Close should stop automatic connection recovery attempts"
See [this mailing list thread](https://groups.google.com/forum/#!topic/rabbitmq-users/557fuVfs6N4).

[2015-06-28 20:39] #105 closed

[2015-07-06 18:35] michaelklishin opened #108 "System.IO.IOException thrown when node is in flow control for a period of time"
From rabbitmq/rabbitmq-server#156:

[code]

[2015-07-06 19:46] michaelklishin commented on #108
Apparently the disposed object exception above may be due to missed heartbeats while the test app was paused by debugger.

[2015-07-07 03:20] ngbrown commented on #83
I think moving to an async API with `Task` returns is a good idea in general, the question is how is this going to be managed?

I've seen .NET libraries (e.g. MongoDB client) that go async do it in a way that splits the entire API into an old/new set of namespaces if not actual libraries (that need to be separately pulled from nuget).  Generally, the non-async methods become wrappers for the async

[2015-07-07 03:27] ngbrown commented on #32
I feel like I got as far as I could with Appveyor and the without owner commitment to the future path.  On my branch, the previously noted settings work to build, test, and package NuGet files into a private feed.  It takes an owner of this repository to set up Appveyor to triggers builds from GitHub pushes or merge requests.

As an aside, I think to move forward on some of these initiatives such

[2015-07-07 08:34] michaelklishin commented on #32
Client library releases will be untied from the server after 3.6.0.

[2015-07-07 08:34] michaelklishin commented on #83
That's what we have in mind.

[2015-07-08 12:52] idursun opened #109 "Memory leak while closing AutorecoveringModel"
We have noticed that List of Channels in AutorecoveringConnection is growing as we use channels.

This is how we create channels:
[code]
We looked into AutorecoveringConnection code and see that it is adding created models into a list, and unregistering it only when UnregisterModel method is called. UnregisterModel is used inside Close methods but in Dispose method m_delegate.Close is called inste

[2015-07-08 12:54] michaelklishin commented on #109
@idursun thank you for the details. We'll take a look shortly.

[2015-07-08 12:54] onatm commented on #109
:+1:

[2015-07-08 13:58] michaelklishin commented on #109
#110 should fix it. @idursun can you please [build the client from source](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/RUNNING_TESTS.md#building) on the `stable` branch and see if the issue is resolved for you?

[2015-07-08 14:12] hancengiz commented on #109
you guys rock! @idursun  @michaelklishin

[2015-07-08 14:51] idursun commented on #109
Thanks for the quick fix. Unfortunately I'm not able to build code in stable branch because of Turkish capital I problem in auto code generation.
[code]
Is there a nightly build repository that we can get NuGet packages to test?

[2015-07-08 15:11] michaelklishin commented on #109
Nightly builds are produced once a day in the morning and not published to NuGet.

I'm not sure how non-ASCII characters may result in the above error, more likely you need to run `msbuild.exe /t:Clean` and then `msbuild.exe` to build from scratch.

Anyhow, here's a .dll built from the tip of `stable` a few moments ago (ce2f19198):
https://drive.google.com/file/d/0B12DYRM8lqNoTi1qZ1BQV2FGZEk/view

[2015-07-09 09:34] #109 closed

[2015-07-09 09:35] michaelklishin commented on #109
@idursun @onatm @hancengiz can someone please try the above DLL and let me know how it goes? We plan on doing a release today.

[2015-07-09 09:45] onatm commented on #109
@michaelklishin we don't have access to link you provided. However, we managed to build the source. Now we are testing it.

[2015-07-09 09:48] michaelklishin commented on #109
Doh. Alright then!

[2015-07-09 09:50] michaelklishin commented on #32
@ngbrown to confirm, we are happy to adopt Appvoyer and use it in our nightly builds, for both `master` and `stable`. The only reason why we don't do this is that our team is tiny and we have a lot of other things going on, primarily around the server. We'll get there some day, I hope before `3.6.0`.

[2015-07-09 14:26] onatm commented on #109
It looks OK for us. When will you release it?

[2015-07-09 14:27] michaelklishin commented on #109
RC today and `3.5.4` hopefully next week.

[2015-07-11 13:07] cH40z-Lord opened #112 "Make IBasicProperties.SetPersistent() a .NET property"
While browsing the examples of the .NET Client for RabbitMQ I've noticed something that made me a bit curious: It is `IBasicProperties`'s `SetPersistent()` method.

I'm wondering why this is an actual method instead of a regular .NET property (`public bool Persistent { get; set; }`) like many others that are part of the `IBasicProperties` interface?

In fact the current `SetPersistent()` method do

[2015-07-11 13:32] michaelklishin commented on #112
@cH40z-Lord it's a good idea but we should keep the old setter around (just make it delegate to the property). Feel free to submit a PR against the `stable` branch and add a basic test that uses the property.

Thank you.

[2015-07-11 15:53] cH40z-Lord commented on #112
PR is opened. Btw do you guys have a Gitter channel? If my time allows me I'll probably have a lot more questions to refactor and improve the current code base. I don't want to spam-open a ticket for everything :)

[2015-07-11 16:01] #112 closed

[2015-07-11 16:03] michaelklishin commented on #112
Fixed in #113, I will cherry-pick to `stable` by hand.

We don't have a Gitter channel. Please use [rabbitmq-users](https://groups.google.com/forum/#!forum/rabbitmq-users). The thing we need help with most at this point is publishing nightly builds of `master` and `stable` branches of the client to NuGet.

[2015-07-16 23:31] barambani opened #116 "Confirm Listeners (events)"
Java client has confirm listeners. .NET client should, too.

[2015-07-19 19:09] mleenhardt opened #117 "Using byte to set x-max-priority causes a WireFormattingException"
As reported in this [EasyNetQ issue](https://github.com/EasyNetQ/EasyNetQ/issues/464).

Repro steps:

[code]

QueueDeclare will throw `WireFormattingException: Value cannot appear as table value`.

[2015-07-19 19:31] michaelklishin commented on #117
Use an int, long or sbyte.

[2015-07-19 19:31] #117 closed

[2015-08-07 22:21] michaelklishin opened #118 "Handle ObjectDisposed exceptions gracefully when re-scheduling timers"
See [this thread](https://groups.google.com/forum/#!topic/rabbitmq-users/7zR-gQDU5pQ). We already do this in a few cases — apparently not all.

[2015-08-10 11:55] michaelklishin commented on #118
Fixed in 4b477ff1d99db55f764feeca580518bd3831fbfd.

[2015-08-10 11:55] #118 closed

[2015-08-18 08:46] micdenny opened #119 "Dispose method should not throw an exception"
In [EasyNetQ](https://github.com/EasyNetQ/EasyNetQ) we're making some [important refactor](https://github.com/EasyNetQ/EasyNetQ/pull/461), and [we notice](https://github.com/EasyNetQ/EasyNetQ/pull/461#discussion-diff-37196714) that we had to wrap RabbitMQ.Client `ModelBase.Dispose` in a try-catch block because looking at [source code](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/

[2015-08-18 11:55] #119 closed

[2015-08-18 11:56] michaelklishin commented on #119
@micdenny thank you for your help! We <3 EasyNetQ feedback :)

[2015-08-18 11:57] micdenny commented on #119
thanks @michaelklishin :smile:

[2015-08-18 14:33] jaminator21 opened #122 "Application crashes & exists debugger while consumer is running & rabbit mq service restarts"
I have a C# application in which I am trying to test the resiliency of rabbit mq client. While the consumer is running, I stop the rabbit mq service to see how my consumer will handle this.

I have try and catch on almost all of my consumer code, yet because of a possible exception in background thread, my application prints below in output window and exists debugger.

The only thing I notice is t

[2015-08-18 14:40] michaelklishin commented on #122
Please ask questions on rabbitmq-users. You haven't mentioned what "crashes" means but a pure C# library cannot be blamed for runtime termination. I/O thread termination is expected. .NET client supports automatic connection recovery as of [3.4.0](http://www.rabbitmq.com/changelog.html), however, we can't predict what kind of effect a debugger may have on its functionality.

[2015-08-18 14:40] #122 closed

[2015-08-18 14:41] michaelklishin commented on #122
Oh, and don't use `QueueingBasicConsumer` if you want to use automatic recovery: that consumer implementation is not supported due to the way it is typically used (in a while loop).

[2015-08-18 14:45] jaminator21 commented on #122
I am only asking this (or running this in debugger) because on production we have consistently noticed that automatic recovery does not happen and the consumer is paused until application is restarted.

[2015-08-18 14:48] michaelklishin commented on #122
@jaminator21 `QueueingBasicConsumer` **does not** support automatic recovery. This should be documented. There are no reasons to choose that consumer implementation over `EventingBasicConsumer` or subclassing `DefaultBasicConsumer` in this day and age.

Another couple of less-than-obvious points: your destructor uses `Connection#Close` and `Channel#Close`. Those will throw exceptions if the socket

[2015-08-18 14:50] jaminator21 commented on #122
If you answer was,

which is totally acceptable answer & appreciated. I fail to see how below was relevant:

And I did mention the word "Application" before "crashes":

[2015-08-18 14:55] michaelklishin commented on #122
@jaminator21 this is relevant for two reasons:

 * We try hard to keep our issue trackers clean, only containing tickets that are obviously (to us) improvements and bugs. Everything else belongs to the mailing list. If there's a consensus that something can be treated as a bug or an area of improvement, we will file issues on GitHub.
 * We get *a lot* of noise from all kinds of channels where peop

[2015-08-18 15:06] videlalvaro commented on #122
@jaminator21 we prefer this basically:

- library usage questions: they belong on the mailing list.
- library bug reports: they belong on this Github issue tracker.

**Going to the mailing list first** helps us determine if we are talking of an actual bug, a misunderstanding of the library usage, lack of docs on our side, and so on.

[2015-09-09 10:21] twatson83 opened #123 "No client-server backpressure with automatic acknowledgements"
Hi,

Im getting out of memory exceptions since moving from nuget version 3.2.1 to 3.5.4. When using BasicConsume it seems like the client pulls all messages off the queue as fast as possible even if processing the messages is slow.  Therefore unacknowledged messages are being queued in memory by the consumer which causes memory to rapidly increase.

For example below you can see that there are a l

[2015-09-09 10:38] michaelklishin commented on #123
The right thing to do is to use QoS on your channels and manual acknowledgements. However, we could make the Java client use TCP backpressure (https://github.com/rabbitmq/rabbitmq-java-client/issues/19), may it would be reasonably straightforward for .NET.

[2015-09-09 10:40] michaelklishin commented on #123
In `3.2.1` consumer method dispatch (e.g. for deliveries) was done on the I/O thread, so a slow consumer would block *everything*. It is no longer the case but now without QoS you indeed will get a stream of deliveries which may overwhelm consumers. This is why QoS exists (see tutorial 2) ;)

[2015-09-10 07:59] twatson83 commented on #123
QoS solved my issue.  Thanks.

[2015-09-10 07:59] #123 closed

[2015-09-18 08:55] michaelklishin commented on #56
This is done.

[2015-09-18 08:55] #56 closed

[2015-09-28 12:46] videlalvaro commented on #32
We just had the issue that the nuget package is not updated for 3.5.5

[2015-09-28 15:12] joefitzgerald commented on #32
@ngbrown Do you simply need me to add an AppVeyor file and enable an AppVeyor build for this repo to continue your work? I'm happy to do that today...

[2015-09-28 20:32] MisinformedDNA opened #125 "Use optionals"
Make parameters optional.

So instead of this

[code]

consider something like

[code]

This way we can just set the parameters we are interested in and just accept the defaults for the rest.

[2015-09-28 20:47] michaelklishin commented on #125
There have been similar proposals in the past. We'd be happy to include something like this but it will not replace the API we already have: breaking it is not an option.

Named parameter arguments in new-ish C# versions has been a decent middle ground recently.

[2015-09-28 20:57] MisinformedDNA commented on #125
Nothing would break. In the case of pre-existing code, the optional values would already be provided, so there is no difference to the user.

[2015-09-29 15:18] michaelklishin commented on #125
@MisinformedDNA so your suggestion is to simply use the default argument values? That makes a lot of sense. We may be short on time to fit this into the 3.6.0 release but after that, I'm all for it.

[2015-09-30 00:15] ngbrown commented on #32
@joefitzgerald Looks like you are well on your way.  I'm glad to see this finally coming about.

[2015-10-03 06:08] michaelklishin commented on #108
I tend to think this is due to github.com/rabbitmq/rabbitmq-server/issues/227 and related issues that resulted in a "natural" timeout. Closing for now, would revisit if we see this with `3.5.5` and later versions in the future.

[2015-10-03 06:08] #108 closed

[2015-10-08 10:01] biiiipy opened #126 "Connection to an IPv4 address fails in IPv6-enabled environments"
Trying to create a **remote** (for example ``` HostName = "192.168.10.10" ```) connection with ``` connectionFactory.CreateConnection(); ```, I get the following error:
``` None of the discovered or specified addresses match the socket address family. Parameter name: context ```
My workaround for this is to override ``` SocketFactory ``` and force **IPV4**.
[code]

No problems with connecting to l

[2015-10-08 10:02] michaelklishin commented on #126
@biiiipy thanks. So what would you recommend as a solution? Providing an easier way to force IPv4?

[2015-10-08 10:03] michaelklishin commented on #126
Another idea: force IPv4 by default?

[2015-10-08 10:07] biiiipy commented on #126
It should just fallback to IPV4, and looking at SocketFactory code, it kind of does that already. I'm not sure why I'm getting this error. I'll try do dig into this.

[2015-10-08 10:07] michaelklishin commented on #126
@biiiipy thank you!

[2015-10-08 13:19] biiiipy commented on #126
Sorry, this was a debugging side effect, closing.

[2015-10-08 13:19] #126 closed

[2015-10-15 08:09] hoangvu88 opened #127 "Publisher not throw exception immediately when connection forced close."
I wrote a test which publish messages to rabbitmq. While test is running, i use management plugin to force close it's connection. But exception only been threw after many successful loop.
The brocker received 195,050 messages but the publisher announced it published 206941 messages.
Here are my code.

            ConnectionFactory factory = new ConnectionFactory();
            factory.UserName = "

[2015-10-15 10:11] michaelklishin commented on #127
It takes a moment for `connection.close` to be sent to the client, and even longer to detect TCP connection closure (which is a more realistic scenario than force-closing via rabbitmqctl).

Use a reasonably low [heartbeat](http://www.rabbitmq.com/heartbeats.html) interval (say, 5 seconds) and [publisher confirms](http://www.rabbitmq.com/confirms.html). That is the only way to ensure reliable deliv

[2015-10-15 10:11] #127 closed

[2015-10-15 10:12] michaelklishin commented on #127
I guess a shorter way to explain this: there is no "immediately" in distributed systems (and your client and server effectively form one) and you need confirmations from the peer for reliable delivery. That's why heartbeats and publisher confirms exist in the protocol.

[2015-10-15 12:51] hoangvu88 commented on #127
@michaelklishin :+1: Thanks for you reply

[2015-10-28 20:16] rasmus commented on #83
+1

[2015-11-03 09:23] michaelklishin commented on #91
@tommy-carlier if we'd like to get this into 3.6.0, now is the time to look into a PR. There's only a week or so weeks left till 3.6.0 enters feature freeze for such changes.

[2015-11-03 13:46] michaelklishin commented on #80
CI fails because Erlang installer cannot be downloaded :/

[2015-11-03 13:47] #80 closed

[2015-11-04 14:03] michaelklishin commented on #116
It turns out that the client already has the events, see:

 * `IModel#BasicAcks`
 * `IModel#BasicNacks`

I will add a couple of tests since we only have coverage for these in the automatic recovery suite, otherwise it should be good to go.

[2015-11-04 16:18] michaelklishin commented on #116
@barambani just making sure you have seen the comment above :)

[2015-11-05 22:35] barambani commented on #116
hi @michaelklishin, yes I have. Thanks for it

[2015-11-07 15:00] #116 closed

[2015-11-10 09:56] michaelklishin opened #132 "Unhandled exception handlers"
Java client has a way to register an unhandled exception handler. .NET client should have this feature, too. This is also related to #94.

[2015-11-11 09:59] matburton opened #133 "IConnection Dispose can throw OperationInterruptedException"
A while back you closed issue #119 that I'd previously worked-around by catching and swallowing `IOException` that could be thrown when calling `Dispose` on an `IConnection`.

I've just upgraded to version 3.5.6 but it seems that `Dispose` can still throw `OperationInterruptedException` which, judging from the description in #119, isn't intended behaviour?

The exception message I sometimes receiv

[2015-11-11 13:41] michaelklishin commented on #133
Questions belong to rabbitmq-users.

I can't say anything without seeing your code and a stack trace. Connections should not be closed with `Dispose` but `Close` or `Abort` instead.

[2015-11-11 13:41] #133 closed

[2015-11-11 13:53] michaelklishin commented on #133
@micdenny what do you think about making `Dispose` ignore all exceptions for both connections and channels? Currently at least `IModel` doesn't, and relies on `Abort` to do that, which I believe still can throw `AlreadyClosedException`.

[2015-11-11 14:14] matburton commented on #133
Hey @michaelklishin. Apologies for the question style wording.

So it looks like [`Dispose` calls `Abort`](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/e5df4ba7630110fef6818f6f3a77d09fe193a2bd/projects/client/RabbitMQ.Client/src/client/impl/Connection.cs#L1222) and that in turn [can throw an exception from the `ShutdownReport`s or an `OperationInterruptedException`](https://github.com/r

[2015-11-11 14:14] micdenny commented on #133
@michaelklishin in the previous PR (https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/121) I did a conservative development, to avoid swallowing to many kind of exception, in fact I will remain of this idea, just adding the catch of `OperationInterruptedException`.

What other kind of exception do you/we should expect is thrown by the underline connection? I think we must be conservative and

[2015-11-11 14:20] michaelklishin commented on #133
Sure. I think `AlreadyClosedException` and `OperationInterruptedException` are two key ones. If I come up with something else, I'll add them.

So, should I go ahead and make both `Dispose` methods ignore common library-specific exceptions? This should help with @matburton's case without introducing a lot of risk.

[2015-11-11 17:01] micdenny commented on #133
to me it's ok :+1: leaving the same behavior, if Close is called with abort=false, the exception should be throw

[2015-11-12 10:06] dumbbell opened #134 "Require .NET Framework 4.5"
`projects/client/Unit/src/unit/TestBlockingCell.cs` already uses a .NET 4.5 feature and it fails to build with 4.0.

[2015-11-12 11:18] #134 closed

[2015-11-19 12:58] asbjornu commented on #94
I agree that event handlers and not depending on a logging library is the way to go. [Microsoft is rolling out new infrastructure for this with DNX](/aspnet/Logging) that might be an OK dependency to add, but it's still early days and event handlers are much more versatile and leaves the implementation and choice of logging framework up to the consumer. Which is a good thing, imho.

[2015-11-20 10:46] bmihart opened #139 "If the connection gets blocked, IModel's Dispose method will block the thread"
Hi,

While trying to use RabbitMq Client Publisher Confirms we encountered an issue, in case the connection gets blocked at some point in time.

Please take a look at the following simple console application:

    class Program
    {
        static void Main(string[] args)
        {
            var connectionFactory = new ConnectionFactory
            {
                Uri = "amqp://test:test@192.

[2015-11-20 11:09] michaelklishin commented on #139
RabbitMQ stops reading from the socket on publishing connections. It therefore cannot know if a channel was closed by the client. This is true for all clients and nobody has come up with a solution so far.

[2015-11-20 11:09] #139 closed

[2015-11-23 15:29] jdmcnair commented on #103
The .NET Core RC1 is now available, and has a "Go Live" license: http://blogs.msdn.com/b/dotnet/archive/2015/11/18/announcing-net-core-and-asp-net-5-rc.aspx

Any updates on plans for .NET Core support?

[2015-11-23 15:31] michaelklishin commented on #103
@jdmcnair as time permits after GA is released. We are a tiny team. On the upside, client library releases after 3.6.0 will be detached from RabbitMQ server releases, so changes like this wouldn't have to wait for 3.7 or 3.8.

[2015-11-23 15:46] grahamehorner commented on #103
@michaelklishin Personally I would recommend supporting CoreCLR as a first given that this is a subset of the Windows Runtime and can target other platforms like iOS/Linux; after which a recompile of the CoreCLR implementation for Windows Runtime can be achieved by sharing code from the CoreCLR projects.

+1 for ASP.NET v5 & CoreCLR support

PS. more than happy to help out on the implementation fo

[2015-11-30 07:05] michaelklishin opened #140 "Make socket timeouts configurable"
Apparently some people care about configuring that thing.

[2015-12-01 13:52] #140 closed

[2015-12-03 14:15] michaelklishin opened #142 "Enable heartbeats by default"
Disabled heartbeats is not a great default.

Default values in the 10-20 seconds range work well for a lot of users. Some other clients, e.g. Bunny, are configured to use server value by default, which still leaves heartbeats enabled.

This is particularly useful with a recent change in 3.6.0 server, https://github.com/rabbitmq/rabbitmq-server/issues/384.

[2015-12-04 09:10] #142 closed

[2015-12-11 03:40] Nicholi opened #144 "EventingBasicConsumer Shutdown event fires twice"
Was just hooking into the events and noticed the Shutdown event fires twice for EventingBasicConsumer. Unsure if this is known/desired behavior or a bug.

Here is a quick sample. Nothing special or out of the ordinary imo.
Using latest client as of this writing, 3.5.6.

[code]

Output is:
[code]

[2015-12-11 07:37] michaelklishin commented on #144
Thank you for providing a way to reproduce.

[2015-12-14 16:58] Nicholi opened #145 "Question: EventingBasicConsumer with Manual Ack and IModel"
This is mostly a question concerning the use of EventingBasicConsumer with manual acknowledgement of messages. I've read countless times the IConnection of RabbitMQ is thread safe, however IModel is not. I haven't seen this addressed exactly for EventingBasicConsumer and its callbacks.

In a situation of an IConnection, IModel, and EventingBasicConsumer initiated on a single thread is there any pr

[2015-12-14 17:01] michaelklishin commented on #145
Please ask questions on rabbitmq-users.

"Thread safe" makes no sense unless you also specify "in what context". The context, almost certainly, is concurrent publishing, not consuming.

You can — in fact, you must, because delivery tags are scoped per channel — ack on the same channel (`IModel`) that you got the delivery on.

[2015-12-14 17:01] #145 closed

[2015-12-15 13:27] acken opened #146 "Consuming events not working on mono 4.2 under Linux"
When running a consumer using the .Net client running on Linux using mono 4.2 it can no longer consume events. There are no errors it is just not consuming events and the rabbit admin plugin shows 0 consumers on the given queue.

[2015-12-15 13:29] michaelklishin commented on #146
It's not possible to suggest much with this much information. Please post to rabbitmq-users and provide a code example we can use to reproduce.

Mono has screwed up library developers who have dependencies compiled for .NET versions earlier than 4.5, which includes us. So we haven't had a chance to develop using Mono for a while now. We'd like to support it but there is no evidence in this that th

[2015-12-15 13:29] #146 closed

[2015-12-15 13:31] michaelklishin commented on #146
Please include three more things:

 * RabbitMQ log files
 * .NET client version used
 * [A protocol capture with Wireshark](https://www.rabbitmq.com/amqp-wireshark.html) so that we can see what the client's sent, if anything.

[2015-12-15 14:49] acken commented on #146
I just tested this using a docker a image and get an exception. When building a docker image from mono:latest it works as expected. When building an image from mono:4.2.1.102 I get an exception and rabbit says closing connection with handshake timeout. Somehow github does not accept my zip file so put it on ge.tt. It contains the exception, rabbit log and wireshark dump.

http://ge.tt/api/1/files/

[2015-12-15 14:53] michaelklishin commented on #146
The exception comes from `RabbitMQ.Client.Impl.SocketFrameHandler.Connect`. An internet runtime object is being double-disposed. I doubt it is an issue with the client: we don't even have a socket to work with, so there is no chance the client is trying to dispose something.

[2015-12-15 14:58] acken commented on #146
So the mono runtime is to blame?

On Tue, Dec 15, 2015 at 3:53 PM Michael Klishin <notifications@github.com>
wrote:

[2015-12-15 14:59] michaelklishin commented on #146
Yes, the standard library implementation. Especially if earlier Mono versions work correctly.

[2015-12-15 14:59] acken commented on #146
Ok thanks. I'll report it to the mono team then.

[2015-12-23 06:42] kae opened #147 "https://www.nuget.org/packages/RabbitMQ.Client/ was not updated with 3.6.0 version"
It would be quite pleasing to get a new version from nuget!

[2015-12-23 11:42] michaelklishin commented on #147
The announcement says it will be available shortly.

[2015-12-23 11:42] #147 closed

[2015-12-23 13:11] michaelklishin commented on #147
Should be good now.

[2015-12-29 09:44] micdenny commented on #98
sorry @michaelklishin but this introduce a breaking changes and should be notified in the [Release Highlights](https://github.com/rabbitmq/rabbitmq-server/releases/tag/rabbitmq_v3_6_0), in fact Mr. @Pliner that implemented this in `RabbitMQ.Client` forgot to drop the flag in `EasyNetQ` :smile: and now who upgrade to RabbitMQ.Client v3.6.0 is taking this exception:

[code]

issued opened also on ht

[2015-12-29 10:09] michaelklishin commented on #98
@micdenny OK, sorry about that, I updated release notes.

[2015-12-29 10:43] micdenny commented on #98
@michaelklishin thank you

[2015-12-29 15:33] ghost opened #148 "CoreCLR port"
Hey,

Do you have any plans to port to CoreClr? Happy to help out if there is buy-in etc.

[2015-12-29 16:09] michaelklishin commented on #148
Duplicate of https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/103.

We already have a WinRT port which ended up reusing most of the code, so I'd be interested in seeing how difficult can it be to support CoreCLR.

[2015-12-29 17:09] sblackler commented on #148
I should have some free time over the weekend, so i'll pull down the code and have a go at porting it for you. Will report back with my findings.

[2016-01-08 07:27] danielmarbach commented on #83
Could I help out somehow?

[2016-01-08 07:46] michaelklishin commented on #83
@danielmarbach a good way to start would be to look into how much effort it would be to have an `async/await`-oriented version of `IModel` and 2 implementations (recovery-aware and "regular" one). Then we can go on to implementing it. All development happens on GitHub in the open.

[2016-01-08 10:21] danielmarbach commented on #83
Should I do a spike then to see what is affected?

[2016-01-08 10:26] michaelklishin commented on #83
@danielmarbach feel free. Thank you very much for your time!

[2016-01-08 10:30] danielmarbach commented on #83
I do this the all-in way. No more sync APIs.

[2016-01-08 10:32] michaelklishin commented on #83
Sorry but we cannot remove existing APIs. A ton of code in the field depends on them. We can build them on top of `async/await` but even then I suspect there is no way around having two channel (`IModel`) APIs.

[2016-01-08 10:38] danielmarbach commented on #83
Fine with me if you know what the consequences of this decision are:

Having two completely sep. code paths and therefore the potential of fixing one path and forgetting the other one

[2016-01-08 10:40] danielmarbach commented on #83
See for example what we did

http://particular.net/blog/async-await-its-time

[2016-01-08 10:41] michaelklishin commented on #83
@danielmarbach thank you for your perspective. RabbitMQ (and this client) is almost 9 years old. We understand the consequences of major changes, in client libraries and elsewhere. We also know very well what happens when you break things.

.NET client has two versions ("regular" and WinRT) that share effectively all unit tests, for example. So far so good.

[2016-01-08 10:44] danielmarbach commented on #83
Didn't want to imply that you guys are clueless or anything. Sorry if I sounded like a jerk.

I was talking about the implications on the team maintaining the lib not the breaking changes per se

[2016-01-08 10:48] michaelklishin commented on #83
No offence taken. We understand that it will be a long and potentially difficult path to get to the new world where everybody uses .NET Core and only C# 5.0+ APIs. We definitely want to get our client there, just without disruptive upgrade-or-leave-it releases.

Also note that certain operations are synchronous *by design* in the protocol. This does not include publishing or consumption of message

[2016-01-08 10:49] michaelklishin commented on #83
By "synchronous" above I mean semantics, not necessarily implementation, of course. Nobody's complained about the blocking nature of `IModel.QueueDeclare` or `QueueBind` in my memory, so perhaps those parts of the API make sense as they are.

[2016-01-08 10:53] danielmarbach commented on #83
Fair enough. You'd have at least the change to base that decision on the shoulders of the whole ecosystem. Many OSS libs and IO bound libs are moving to async only. Just saying ;)

[2016-01-08 14:51] danielmarbach commented on #83
@michaelklishin See the effect a proper async implementation would have

https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/149

[2016-01-08 18:54] michaelklishin commented on #83
I updated the issue to reflect the (greatly) extended scope of this issue.

[2016-01-09 04:57] jeremymeng commented on #148
@sblackler How is it going?  I attempted the port too as a hobby: https://github.com/rabbitmq/rabbitmq-dotnet-client/compare/master...jeremymeng:CoreClr.  Both client and unit test project build.  I attempted to run the tests but it seems like I don't have the `rabbitmqctl` so the test process crashed on me.  Anyway hope this is helpful to anyone who wants to continue working on it.

[2016-01-09 05:36] jeremymeng commented on #103
Anyone interested are welcome play with my fork, which builds but untested: https://github.com/rabbitmq/rabbitmq-dotnet-client/compare/master...jeremymeng:CoreClr

[2016-01-09 10:20] michaelklishin commented on #148
@jeremymeng thank you. If you can explain what kind of environment is necessary to give it a try (I have Windows 8.1), I can do it.

[2016-01-09 10:23] michaelklishin commented on #148
@jeremymeng the changes look smaller than I thought, this is encouraging. Note that I'm afraid we can't license parts as [MSPL](http://opensource.org/licenses/MS-PL) and to integrate your changes eventually we'd have to ask to you sign [our CA](https://github.com/rabbitmq/ca).

[2016-01-09 13:07] danielmarbach opened #150 "Decouple client releases from RabbitMQ releases"
Currently this library follows the release version number of the broker. While this seems to make sense I think it is actually more harmful than helpful for clients and the maintainers of the library because it is really hard to convey breaking changes or not accidentally introduce breaking changes. Here is a proposal:
- Decouple the client version from the broker version, i.ex. when we move to as

[2016-01-09 13:15] danielmarbach commented on #83
Here is a brain dump of a plan of attack:

* Discuss high-level API and consider getting rid of work service in favour of [channels](https://github.com/dotnet/corefxlab/tree/master/src/System.Threading.Tasks.Channels) if possible (might need a spike first)
* Create up-for-grabs issues for indiviual section in the code which can be made async according to the high-level API decisions (to make the w

[2016-01-09 13:42] michaelklishin commented on #83
There are parts of the API that are naturally events, e.g. consumer cancellation or server-sent `connection.close`. Those should stay events in my opinion. Event-driven consumers also make sense.

Otherwise, sounds reasonable.

[2016-01-09 13:54] danielmarbach commented on #83
Ok, but normal event handlers are a PITA with async. We need a better concept

[2016-01-09 13:55] michaelklishin commented on #150
We are considering decoupling client library releases from server releases. That should happen one way or another for the next RabbitMQ release (which is some 8-9 months away).

RabbitMQ largely follows semantic versioning (which suffers from the "no true Scotsman" fallacy) but sometimes fixing bugs or serious usability issues means introducing breaking changes. We also try shipping small non-brea

[2016-01-09 13:57] michaelklishin commented on #150
Also, we appreciate the advice on what tooling we can adopt.

[2016-01-09 13:58] michaelklishin commented on #83
How would you handle things with `async` that can happen at any moment, and are not user-initiated?

[2016-01-09 23:38] jeremymeng commented on #148
VS 2015 Community Editor with update 1 should be good.  For command-line only experience, you can install ASP.NET 5 RC as described at https://docs.asp.net/en/latest/getting-started/index.html

[2016-01-10 12:19] danielmarbach commented on #150
I used all the tools noted here in prod. I can defintely help

[2016-01-12 17:36] theparticleman commented on #148
@ru-sh has created a fork that targets CoreCLR that I've been using (he also has an unofficial NuGet package). It has a bug where trying to connect via IPv6 throws an unexpected exception type, so then it doesn't try connecting via IPv4. Once I fixed that it would connect from my Windows client host to my Rabbit running on my Linux Vagrant guest. But going from a Linux Vagrant client to Rabbit run

[2016-01-14 17:04] rtaborda opened #152 "Running a consumer app as a Windows Service"
Hi,

I have one simple console application that consumes messages from a queue and it works just fine, but if I try to run it wrapped in a Windows Service it just doesn't behave properly.
When the service starts the existing messages in the queue are consumed but the connection seems to be dropped immediately after, because the messages are not acknowledge and stay in the queue, and also because a

[2016-01-14 17:44] michaelklishin commented on #152
Sorry but I don't see how this can be caused by a client library such as this.

[2016-01-14 17:44] #152 closed

[2016-01-14 17:45] michaelklishin commented on #152
Questions belong to rabbitmq-users.

[2016-01-16 20:12] Gsantomaggio commented on #132
We could add [UnhandledException](https://msdn.microsoft.com/en-us/library/system.appdomain.unhandledexception.aspx)  to the  [Connection.cs]( https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/f16c093f6409e11d9d77115038cb224eb39468ec/projects/client/RabbitMQ.Client/src/client/impl/Connection.cs#L143) like this:
`AppDomain.CurrentDomain.DomainUnload += HandleDomainUnload;`
`// Add the event h

[2016-01-18 06:59] khaale opened #153 "AutorecoveringConnection doesn't use provided hostnames on init"
Hi RabbitMQ team,

Currently 3.6 .NET client has an issue with AutorecoveringConnection initialization - it always tries to connect to the host provided in connection factory, provided *hostnames* list is just ignored.

Looks like the issue caused by unused *hostname* at https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/projects/client/RabbitMQ.Client/src/client/impl/AutorecoveringCon

[2016-01-24 12:42] danielmarbach commented on #83
This shows how we could handle async events https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/151

[2016-01-26 15:29] Jestar342 commented on #98
Should this have been v4, and not v3.6? It's a backwards compatibility breaking change.

[2016-01-26 15:32] videlalvaro commented on #98
@Jestar342 so far RabbitMQ doesn't follow SEMVER, that might change in the future

[2016-01-26 15:46] Jestar342 commented on #98
Ah ok. What versioning scheme does it follow? (and is it documented?)

[2016-01-26 15:55] videlalvaro commented on #98
@Jestar342 not documented AFAIK

The format is X.Y.Z

X: rarely increased, this only happens when main internal systems suffer big changes, I would say that perhaps 3.6.0 warranted a major version bump.
Y: Breaking changes and new features, this can probably be seen as the major version of SEMVER
Z: bug fixes

[2016-01-26 16:28] Jestar342 commented on #98
"Y: Breaking changes and new features, this can probably be seen as the major version of SEMVER"

That's the point of contention here. It should be clear when there is a new feature vs a breaking change. :)

[2016-01-26 16:41] michaelklishin commented on #98
RabbitMQ dropped support for this flag in 3.0.

[2016-01-26 16:41] videlalvaro commented on #98
When the `Y` value increase, expect both. That's how it is right now.

[2016-01-26 16:48] michaelklishin commented on #98
RabbitMQ server hadn't supported this flag for 3 years by the time 3.6.0 shipped. If anything, this was a confusing and misleading API element, which counts for a bug in my books, so it was removed.

In any case, 4.0, 5.0 are reserved for actual *major* changes and this isn't one. There weren't many complaints about this feature removal in the server to start with.

[2016-01-26 17:37] reisenberger opened #154 "IModel.Dispose() blocks if called from within the ConnectionShutdown event"
I am an EasyNetQ user assisting another EasyNetQ user on EasyNetQ/EasyNetQ#522 . The investigation of the issue within EasyNetQ seems clearly to point to the problem that `IModel.Dispose()` blocks if called from within the `ConnectionShutdown` event.

We note from 2012 correspondence
http://grokbase.com/t/rabbitmq/rabbitmq-discuss/128mwgvyvc/net-rabbitmq-client-issue-deadlock-on-connectionshutdown

[2016-01-26 17:52] Jestar342 commented on #150
RabbitMQ doesn't follow Semantic Versioning as demonstrated by the issue #98 where the "immediate" parameter was removed, thus breaking backward's compatibility - but maintaining the binding redirect for versions that expect the method to exist. This results in the error:

Method not found: 'Void RabbitMQ.Client.IModel.BasicPublish(System.String, System.String, Boolean, Boolean, RabbitMQ.Client.IB

[2016-01-26 18:14] michaelklishin commented on #150
@Jestar342 as I explained in #98, the feature was **dropped in RabbitMQ server over 3 years ago** and the fact that the respective API method wasn't removed was confusing and misleading. Please stop fixating on a method not being found and take a step back: the entire feature had been **absent for over 3 years** by the time we removed the method.

Yes, we sometimes introduce small features in poin

[2016-01-26 18:19] michaelklishin commented on #150
OK, I'm unlocking this because this issue is actually an open ended question right now, so there are things to discuss. I've removed all comments that are irrelevant to what this issue is about.

[2016-01-26 18:21] michaelklishin commented on #154
@reisenberger please post questions to rabbitmq-users. Yes, `IModel.Close` is what we expect to be used.

[2016-01-26 18:21] #154 closed

[2016-01-26 18:30] michaelklishin commented on #98
Relevant to this is #150. And what does count as a major change and a version bump to 4.0? #83 and #148.

[2016-01-26 19:04] michaelklishin commented on #150
Two things that make a strong case for release decoupling: we are mostly convinced that #83 and #148 are worth doing this year. Both definitely are major API changes and warrant a version bump to 4.0 but going to 4.0 doesn't make sense for RabbitMQ itself and the Java client, for example.

The quickest way to get there would be to exclude this client from the `3.6.2` release (for `3.6.1` it's prob

[2016-01-27 13:08] #153 closed

[2016-01-27 13:08] michaelklishin commented on #153
Fixed directly in `stable`. @khaale I'm happy to provide a one-off build (a .dll) if you'd be interested in helping us test the change.

[2016-01-27 18:22] ngbrown commented on #83
@danielmarbach Looking at the suggested code, I see a lot of functions that have only the return type changed.  Do these functions need to be `await`ed? If so, then it will be difficult to find all of the points in client code to change without compile errors (especially the ones that used to be `void`).  I recommend that most, if not all of the functions that are going to be asynchronous with a `

[2016-01-27 18:40] ngbrown opened #155 "Clean up repository branches"
@michaelklishin, All the bug-id branches in the code repository is cluttering up what is important.  Once a branch is merged into master, the branch tag can be deleted.

I know that this repository was migrated from a Mercurial repository where branches were hard written into the history, but branches in Git are different.  Git branches are more like bookmarks in Mercurial.

Will everyone concur t

[2016-01-27 19:40] michaelklishin commented on #155
We can clean up branches that were merged more than N weeks ago, for example, if enough people care.

[2016-01-27 19:41] danielmarbach commented on #83
Nathan, thanks for chiming in. As you highlighted this is an exploratory PR. The idea of the PR you reference is to explore ways to keep as much of the current design in place to not open a can of worms.

About the functions that need to be awaited. I assume you are talking from the end-user perspective. You are right when switching from `void` returning APIs to `Task` returning APIs (`Task` is th

[2016-01-27 19:41] michaelklishin commented on #83
@ngbrown good idea. We should take a look at what MongoDB did.

[2016-01-28 08:25] sivesind commented on #154
@michaelklishin: @reisenberger had one more question: Is it theoretically OK to omit `.Close()` entirely? Emile Joubert advised to do so in 2012, does this still apply?

I've done extensive testing, and calling `.Close(), .Dispose() or .SafeDispose()` within the `ConnectionShutdown` event consistently leads to a deadlock and a connection that never recovers. `.Close()` causes it fastest of all. Om

[2016-01-28 09:09] michaelklishin commented on #154
@sivesind ah, this is in the context of a connection shutdown… then yes, you don't want to use `Close`. `Dispose` makes sense there although it's basically an equivalent of `Abort`. Doing nothing should also be fine.

[2016-01-28 09:23] sivesind commented on #154
@michaelklishin: Thanks a lot! This really helped out!

(my practical tests with extensive restarts of RMQ shows that `.Dispose()` and `.SafeDispose()` also causes deadlocking in EasyNetQ, but that may well be an EasyNetQ issue)

[2016-01-28 10:30] khaale commented on #153
Thanks @michaelklishin ! I'd be happy to help with testing.

[2016-01-28 10:32] pardahlman commented on #155
This is a very good idea! Why not start with removing all the [stale branches in the repo](https://github.com/rabbitmq/rabbitmq-dotnet-client/branches/stale) to begin with? There are a lot of branches that are 1500+ commits behind :)

In my opinion all branches that have been merged to `master` could be removed. Thought on this?

[2016-01-28 10:33] michaelklishin commented on #153
@khaale can you shoot me an email (`michael` in the RabbitMQ domain)? I'll respond with a build from the tip of `stable`.

[2016-01-28 10:38] michaelklishin commented on #155
@pardahlman it won't affect our development process but I'm not sure that enough people care.
We have no shortage of things to work on and this is the first time this issue is brought up in about a year that RabbitMQ has moved to GitHub.

When is it problematic that `origin` (or whatever you call our remote) has a lot of branches? You never check out more than 1% of them most of the time.

Please

[2016-01-28 19:25] pardahlman commented on #155
@michaelklishin -- I think there are a few benefits. Especially, it is easier to get a feeling for the activities in the repo. Whenever I clone a repo, I do a `git branch -r` to see what's going on. For a repo that belongs to an organization, I expect to see a handful branches, like

 * [Autofac](https://github.com/autofac/Autofac/branches) that only have `master` and `develop`
 * [AutoMapper](htt

[2016-01-28 19:35] michaelklishin commented on #155
OK, fair enough. We can certainly remove all branches with the old `bug*` convention used in the Mercurial days. Then see what'd be the best way to remove branches based on age.

We'd like to keep

 * `master` (most obviously)
 * `stable`
 * `rabbitmq-dotnet-*` branches that are older than 3 months

We can consider removing branches immediately after they are merged but this has to be done for all

[2016-01-29 14:10] pardahlman commented on #83
This is a very interesting topic. Good job with the spike, @danielmarbach . I agree with @ngbrown; we should suffix the async method names with `Async`, which also is in line with [naming conventions](https://msdn.microsoft.com/en-us/library/hh191443.aspx).

MongoDb is a good case study of a major framework implementing an async API. When they release 2.0 they only provided async methods, but rece

[2016-01-29 14:42] pardahlman commented on #32
Once ported to .NET core, a NuGet package is built with the [dotnet CLI](https://github.com/dotnet/cli) `dotnet pack`. We could migrate to vNext project in a feature branch and wait for vNext 1.0 to be released and then merge it to master...?

[2016-02-10 13:54] danielmarbach commented on #83
Guys, should I send in a larger PR with my proposal or do you want to set the baselines first?

[2016-02-10 13:56] michaelklishin commented on #83
@danielmarbach we wouldn't mind if you decided to expand your proposal. We also don't want you to waste a lot of time on it, though, as we still haven't had a chance to take a look and announce the changes coming to .NET client this year.

[2016-02-23 13:12] michaelklishin commented on #83
We've recently reviewed #151 and #149. I will post some notes and an overview of our plan later this week.

[2016-02-25 11:28] penelope-v opened #156 "Need some event to handle recovery success"
Dear team,

is there any way (may be some event) to recognize connection recovery for RabbitMQ?

I have a dashboard in my application, and I want to display to user the status of listening from Rabbit MQ. I've set up AutomaticRecoveryEnabled = true for ConnectionFactory. And I've set up NetworkRecoveryInterval to 10 seconds.

And I handle EventingBasicConsumer 's Shutdown event in order to provide

[2016-02-25 12:26] michaelklishin commented on #156
There is no such event.

We have a nearly identical request for the Java client: https://github.com/rabbitmq/rabbitmq-java-client/pull/132, so this is reasonable.

[2016-03-03 10:07] EGlaznev opened #157 "AutorecoveringConnection ignores ports from the hostname list"
Given:
  new ConnectionFactory();
When:
  'AutomaticRecoveryEnabled' is set to true;
  and 'HostName' is not specified;
  and 'Port' is set to 5555;
  and 'hostnames' contains list of 'ABC:1234' and 'DEF:5678'
Then:
  ConnectionFactory.CreateConnection(IList<string> hostnames) do not use ports from strings and always tries to connect on port 555.

It's looks like a reason is here:
        public A

[2016-03-03 10:25] EGlaznev opened #158 "Autorecovering connections should keep endpoint-related fields up-to-date during recovery"
This is some kind of usability in source code :)
When performed
                    fh = m_factory.CreateFrameHandler(m_factory.Endpoint.CloneWithHostname(h));
                    reachableHostname = h;
a member m_factory.Endpoint remains untoched and contains useless default value 'localhost:5672'.
And even when a connection for server from 'hostnames' is establied - m_factory.Endpoint still rema

[2016-03-03 10:36] michaelklishin commented on #158
Feel free to submit a PR against the stable branch.

[2016-03-03 10:38] michaelklishin commented on #157
Since you understand the issue well, feel free to submit a PR against the stable branch.

[2016-03-03 11:18] michaelklishin commented on #158
I'm sorry but I can't really make sense of what you're asking for, for example, what is a "cool 'live' Engpoint"? "reverse-similar"? Why is this feature so "fantastic"? Can you please start by explaining what you expect to happen during recovery?

[2016-03-03 11:42] EGlaznev commented on #158
Ok, let's try.
When Endpoint always remains 'localhost:5672' - it's 'dead' because it's
useless and do not reflect the current situation.
When this member will get a real value of currently connected host - it's
definitely 'live' = precisely reflecting the current state of connection.
And all this is true about the first connection too.

1. Let's assume we have 3 servers in List<> - a 'First:1234'

[2016-03-03 12:01] michaelklishin commented on #158
OK, so some endpoint-related fields are not updated during recovery. Got it. Feel free to submit a PR.

[2016-03-04 11:53] resnikb opened #159 "AutorecoveringModel not autorecovering from channel exceptions"
Hi,
It seems that AutorecoveringModel only recovers when the connection is broken and re-established. It does not attempt to autorecover if there was a channel exception that caused the closure.

At the moment, I am using the following code to ensure recovery, but is there a better way?
[code]

[2016-03-04 11:54] michaelklishin commented on #159
Correct and recovering channels after exception was never in the scope for automatic recovery. Your approach seems fine.

[2016-03-04 11:54] #159 closed

[2016-03-04 11:55] michaelklishin commented on #159
Note that your example doesn't handle topology recovery but I'm guessing that's fine, you just want to recover channels, and possibly consumers. You are on the right track.

[2016-03-04 12:12] resnikb commented on #159
Correct, I'm fine with recreating topology. However, the `AutomaticallyRecover` feels a bit like an undocumented feature, and has an unused parameter - I wasn't sure whether and how it should be used by external code.

Thanks for such a quick response!

[2016-03-04 12:22] resnikb commented on #156
Perhaps I'm misunderstanding the question, but isn't `IRecoverable.Recovery` event what you're looking for? You could subscribe to it by casting your connection to `IRecoverable`:

    ((IRecoverable)connection).Recovery += (sender, args) => {};

[2016-03-04 13:01] michaelklishin commented on #156
@resnikb the idea here is to have a recovery success/completion event(s).

[2016-03-04 21:24] resnikb commented on #156
@michaelklishin  Right... Isn't that what `AutorecoverableConnection.Recovery` is - an event that is raised when the connection has been successfully recovered?

[2016-03-08 19:56] pdumais opened #160 "createModel stays blocked"
Using 3.2.1  and 3.6.1, calling createModel() sometimes never returns.

I was having a problem with my server VM, where I suspect that the rmq bus does not respond anymore due to some VM problem. But that is beyond the scope of this issue.

The problem is that the client VM, when it calls createModel() during that issue seems to block indefintely. Should there be a timeout (exception thrown?) afte

[2016-03-08 20:04] michaelklishin commented on #160
Please use rabbitmq-users for questions. [There is a timeout](https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/80), as well as [heartbeats](http://www.rabbitmq.com/heartbeats.html).

[2016-03-08 20:04] #160 closed

[2016-03-11 18:11] ngbrown commented on #155
I've removed all of the `bug*` branches and cleaned up the older `rabbitmq-dotnet-` branches that had already been merged.  There's still a few more really old ones that could be cleaned up.  Take a look at https://github.com/rabbitmq/rabbitmq-dotnet-client/branches/stale.

[2016-03-11 18:12] michaelklishin commented on #155
Thank you, @ngbrown. I deleted a few more that are older than 6 months.

[2016-03-11 18:12] #155 closed

[2016-03-21 11:34] theofanis opened #162 "Consumer not getting messages from queue after reconnect"
We have set up automatic reconnects for our setup using 60 secs:

[code]

If the connection shutdowns for any reason, the consumer is able to reconnect but it won't get any messages that are already present in the queue.

Our server is running on 3.5.6 and I have tried clients on 3.5.6 and 3.6.0.

We initially had this problem after getting connection exceptions with messages like the one below, w

[2016-03-21 11:35] michaelklishin commented on #162
Queueing consumers do not support automatic connection recovery. This is by design. Switch to a different consumer implementation and please ask questions on rabbitmq-users or Stack Overflow in the future.

[2016-03-21 11:35] #162 closed

[2016-03-21 11:51] theofanis commented on #162
I totally missed rabbitmq-users, sorry for posting this here then.

[2016-03-26 00:03] doc commented on #148
Hey Guys, any updates on this port? Keen to see support for .net core arrive so happy to help in any way I can.

[2016-03-26 02:55] michaelklishin commented on #148
No updates besides that we've decided it should be a completely new client.

[2016-03-26 20:32] manigandham commented on #145
Hi @michaelklishin

I believe this would be a possible issue with the driver itself. The .NET guide shows that `IModel` is not thread safe: https://www.rabbitmq.com/dotnet-api-guide.html

The guide also shows this example for

Since the `EventingBasicConsumer` uses a event model, the dispatched events can be processed in any thread and the ACKs are being sent using a reference to the `IModel` sent

[2016-03-26 22:00] Nicholi commented on #145
I am guessing IModel only isn't safe for concurrent publishing, that's why my question was pretty much ignored. If we are simply ACKing consumers that must be different?

I'd like a clean answer as well because from reading the docs I came to the same conclusion as you. I have implemented without a lock, and the responses are being handled async on different threads, with no problems. Though that

[2016-03-26 22:56] manigandham commented on #145
There are some threads in the rabbitmq-users google group

1. https://groups.google.com/forum/#!searchin/rabbitmq-users/thread-safe/rabbitmq-users/KfIqEbdAKws/xZ_Ei6SFBWAJ

1. https://groups.google.com/forum/#!searchin/rabbitmq-users/imodel$20thread/rabbitmq-users/2TEusuFq_n8/ReSs-bjwxKoJ

The information is still confusing. BasicConsume/BasicCancel seem to be non-threadsafe as well but just not e

[2016-03-27 03:24] michaelklishin commented on #145
Because basic.publish is at least 2, and typically 3 or more, frames on the wire, so you can get incorrect interleaving.

Acking with multiple set to true on a shared channel is also unsafe, one-by-one can work fine. Concurrent consuming is fine unless you register consumers concurrently.

Questions beling to rabbitmq-users.

[2016-03-27 03:27] michaelklishin commented on #145
Very often eventing consumer handles deliveries on the very same thread that its channel was opened on. If you redispatch drliveries it is up to you to synchronize. This is neither a problem in the library nor with the example: we cannot produce examples that are universally safe so we simplify them.

[2016-03-28 02:44] manigandham commented on #145
Doesn't making `IModel` thread-safe solve this? If the current implementation is by design, then this isn't pointing out a problem or just asking questions but rather suggesting an improvement to the driver.

The java client does have a thread safe channel interface that serializes commands which can help make application code simpler and safer for publishing.

[2016-03-28 07:42] michaelklishin commented on #145
Java client is no different in this regard: concurrent publishing on a shared channel or acking with multi = true is asking for trouble.

The docs do mention that channels should not be shared between channels.

[2016-03-30 09:07] pardahlman opened #163 "ExchangeDeclare ignores type argumen after exception"
I'm implementing an extension for `RawRabbit` to "re-declare" topology features in RabbitMq (https://github.com/pardahlman/RawRabbit/issues/75). I noticed an unexpected behaviour, which can be exemplified with this code

[code]
When running this code I get the following exception

The problem is that I'm not trying to declare the exchange as a `Direct`, but as `Topic`. The problem does not appear

[2016-03-30 10:20] michaelklishin commented on #163
2nd invocation should fail since the arguments are not equivalent but channel error takes time to reach the client.

Please post questions to rabbitmq-users in the future.

[2016-03-30 10:20] #163 closed

[2016-03-30 10:44] pardahlman commented on #163
The same exception appears if I, instead of trying to re-declare the exchange, try to delete it (`channel.ExchangeDelete("example_exchange")`)

[2016-03-30 10:47] michaelklishin commented on #163
@pardahlman on what line? Like I said, error delivery is asynchronous and lines number 1 and 2 is asking for this specific channel exception.

[2016-03-30 10:49] michaelklishin commented on #163
Also, not sure if you've captured a protocol trace with [Wireshark](http://www.rabbitmq.com/amqp-wireshark.html) it it would make much easier for you to reason about the sequence of methods that are sent by both client and server.

[2016-03-30 10:57] pardahlman commented on #163
@michaelklishin are you sure? I've added some additional work and `Thread.Sleep` but still get the same result

[code]

[2016-03-30 11:06] michaelklishin commented on #163
@pardahlman I'm not sure what to recommend. Your test intentionally causes a channel exception, plus swallows an exception. It also uses multiple channels. The first non-swallowing operation throws an exception (by the time the channel should be closed).

The right thing to do is to correlate this with server logs and a Wireshark trace to see what's going on on the wire. What are you trying to acc

[2016-03-30 11:08] michaelklishin commented on #163
I'm not sure what the 2nd channel and different exchange names is supposed to demonstrate here.

[2016-03-30 11:21] pardahlman commented on #163
@michaelklishin maybe I misunderstood you when you said

I thought you meant that it would take time for the exception to reach the client, so I added a second channel to do some work and added thread sleeps etc to give the exception time to reach the client.

I'm reusing a channel in the application. One of the tasks that I want to do with the channel is to declare an exchange. Sometimes the exch

[2016-03-30 11:22] michaelklishin commented on #163
@pardahlman channels that had a channel exception can no longer be used, that's correct. You need to open a new channel.

[2016-03-30 11:30] pardahlman commented on #163
@michaelklishin allright thanks for clearing that out for me (I haven't seen that in any documentation)

[2016-04-05 22:19] warrenrumak commented on #91
For what it's worth, Microsoft no longer supports .NET 4.0 and 4.5 with security updates or fixes.  It might be okay to let this item go.

https://blogs.msdn.microsoft.com/dotnet/2015/12/09/support-ending-for-the-net-framework-4-4-5-and-4-5-1/

[2016-04-05 23:52] michaelklishin commented on #91
Thank you.

We will develop a new client for .NET Core from scratch. This client then will transition to maintenance mode only for a year or two until the new one (as well as .NET Core) matures.

[2016-04-07 02:54] devsoft commented on #132
But that won't prevent an application from crashing, please provide a way to catch them and the application will design to what to do next.

Currently I want to build a running forever program with this RabbitMQ client, so I want to handle exceptions as much as possible and do everything keep it alive. But that's impossible when this .NET client works with a unreliable connection. Here are what I

[2016-04-07 06:42] rmja commented on #103
I also have a fork which seems to work and uses the "netstandard1.5" TFM. It runs on the latest corefx bits: https://github.com/rabbitmq/rabbitmq-dotnet-client/compare/master...rmja:NETStandard

[2016-04-13 09:11] eiver commented on #144
ConsumerCancelled from DefaultBasicConsumer also fires twice

[2016-04-13 14:23] hairyhum commented on #144
Event is being added to `ModelShutdown` event to be called in [OnModuleShutdown](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/projects/client/RabbitMQ.Client/src/client/impl/ModelBase.cs#L660)

And also it's called from `ConsumerDispatcher.HandleModelShutdown` which is called from `BroadcastShutdownToConsumers` on the [next line](https://github.com/rabbitmq/rabbitmq-dotnet-client

[2016-04-13 14:33] michaelklishin commented on #144
@hairyhum consumer's shutdown event handlers are not supposed to be registered for channels, your understanding is correct

[2016-04-13 15:24] michaelklishin commented on #144
Thank you for looking into this, @hairyhum. This was accidentally introduced in a monster community member patch in https://github.com/rabbitmq/rabbitmq-dotnet-client/commit/795a718c1973f418ce7f6adac866ae587b03a4db.

[2016-04-13 19:48] osudude opened #167 "TunneledTcpClient and SQL 2014 CLR compatibility"
Tried upgrading from RabbitMQ.Client 3.5.x today to 3.6.1 for our SQL Clr SP that publishes to RabbitMQ.  Upon registering our assembly that depends on RabbitMQ.Client, SQL 2014 gave use the following error:

** CREATE ASSEMBLY failed because type "RabbitMQ.Client.TunneledTcpClient" in safe assembly "RabbitMQ.Client" has a finalizer. Finalizers are not allowed in safe assemblies. **

Does Tunneled

[2016-04-13 19:59] michaelklishin commented on #167
It was introduced in https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/115. If we can avoid having a finalizer, that's fine with me. Unfortunately neither of the features is particularly popular so I'm not sure what we should prefer.

[2016-04-13 21:22] osudude commented on #167
Registering our SQL CLR assembly that depends on RabbitMQ.Client in unsafe mode seems to have worked.  It did require setting the database to trustworthy mode which is potentially a large security hole.

[Guidelines for using the TRUSTWORTHY database setting in SQL Server](https://support.microsoft.com/en-us/kb/2183687)

[SQL-Server-CLR-Integration-Part-Security](http://www.codeproject.com/Article

[2016-04-21 15:02] newsash opened #168 "FreeBSD localhost AMQP handshake timeout"
Setup:
1. Windows host and FreeBSD VirtualBox guest
2. RabbitMq server
3. dnx451 console app (MassTransit -> RabbitMq.Client)

When I run RabbitMq server on Windows and console app on FreeBSD and vise versa, everything works fine, but when I run both of them on FreeBSD, I get connection error.

Error info from server-log:
[code]

Error info from client:
[code]

How can I debug and fix this error?

[2016-04-21 16:06] michaelklishin commented on #168
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-04-21 16:06] #168 closed

[2016-04-21 16:06] michaelklishin commented on #168
Using [Wireshark](http://rabbitmq.com/amqp-wireshark.html)/tcpdump and posting full log files plus RabbitMQ configuration would be a good way to start.

[2016-04-21 18:15] newsash commented on #168
Sorry for placing my question wrong. It was checksum issue. Solved by
[code]

[2016-04-25 19:41] #144 closed

[2016-05-04 09:23] kjnilsson opened #169 "Replace msbuild tasks with Fake targets"
This should make builds on mono work as well modernising the build chain.

[2016-05-04 09:23] kjnilsson commented on #169
https://fsharp.github.io/FAKE/

[2016-05-05 08:36] SimonCropp commented on #83
@michaelklishin any update?

[2016-05-05 08:38] michaelklishin commented on #83
@SimonCropp the only update I have is that we have someone with a lot of .NET experience on our team now and that person will be working on a new client built around async/await. No ETA, no promises.

[2016-05-05 08:39] SimonCropp commented on #83
@michaelklishin thanks

[2016-05-05 09:36] danielmarbach commented on #83
Just to restate: I offered my help as well.

[2016-05-05 11:29] michaelklishin commented on #148
We've outlined our plan for the future of this client [on rabbitmq-users](https://groups.google.com/forum/#!topic/rabbitmq-users/iiric1i_OXs).

[2016-05-05 11:29] michaelklishin commented on #83
We've outlined our plan for the future of this client [on rabbitmq-users](https://groups.google.com/forum/#!topic/rabbitmq-users/iiric1i_OXs).

[2016-05-11 13:34] kjnilsson opened #171 "Test failures on mono 4.4"
There are several tests that fail on mono 4.4 but pass on mono 4.2 with an exception similar to the one below:

[code]

[2016-05-11 13:37] kjnilsson opened #172 "TestAmqpUriParseSucceed fails on mono"
This is due to a bug in mono's System.Uri implementation.

Details: https://bugzilla.xamarin.com/show_bug.cgi?id=40365

[code]

[2016-05-12 13:31] kjnilsson commented on #13
Hi @tomstaijen, @rbanderton, @cvanbergen,

I think it is time to finally bring this issue to a close. As @hyperthunk observed a few years ago this is a naturally occurring race. The Queue property exposed on QueueingBasicConsumer does not provide direct access to the remote RabbitMQ queue. It is a local buffer to which messages are asynchronously delivered which is why there is a delay, however sl

[2016-05-12 13:44] kjnilsson commented on #167
I don't see why this class needs a finalizer. I can't see it holding on to any direct unmanaged resources (pointers, handles, etc) which is the only real reason to use finalizers. Will create a PR to remove it.

[2016-05-12 14:51] michaelklishin commented on #167
Should be fixed in #174.

[2016-05-12 14:51] #167 closed

[2016-05-12 15:04] michaelklishin commented on #13
#173 is in.

[2016-05-12 15:04] #13 closed

[2016-05-13 14:45] kjnilsson commented on #158
Hi @EGlaznev,

Been looking at this request. I hope I have understood it correctly. Apologies if not.
I am not convinced the factory object should be mutated based on in the Connection instances it generates. If you want current Endpoint information it may be better to inspect the Endpoint property on the Connection instance itself. This should be up to date at least for the case of auto-recoverin

[2016-05-16 08:39] kjnilsson commented on #157
I've issued a PR for to allow ports to be parsed correctly

[2016-05-16 08:46] kjnilsson opened #176 "CreateConnection ignores hostname list when autorecovery is not enabled"
All connections are made using the default ConnectionFactory endpoint rather than picking from the provided list.

[2016-05-16 08:46] kjnilsson commented on #158
I do think there is a valid bug with the hostnames collection being ignored if autorecovery is not enabled. I have raised this as a separate bug #176

[2016-05-16 11:03] #176 closed

[2016-05-16 11:51] kjnilsson commented on #158
Hi @EGlaznev I'm going to close this issue as you can get the live Endpoint info from the connection instead of the ConnectionFactory. Please re-open or raise another issue if we haven't analysed the request correctly.
Cheers
Karl

[2016-05-16 11:51] #158 closed

[2016-05-16 23:12] rwkarg commented on #103
+1 for .NET Core support (RC2 is now out)

[2016-05-17 05:25] michaelklishin commented on #103
@rwkarg please see https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/148.

[2016-05-18 04:00] connect2sandeep commented on #126
getting an exception while trying to connect
Exception thrown: 'System.ArgumentException' in System.dll

Additional information: None of the discovered or specified addresses match the socket address family.

[2016-05-19 14:49] kjnilsson opened #180 "Fix compiler warnings"
There are a bunch of compiler warnings at the moment which needs fixing, then we should disallow warnings in the fake build.

[2016-05-20 14:34] kjnilsson opened #181 "Test failure when run in a French locale"
RabbitMQ.Client.Unit.TestStreamWireFormatting.TestSingleDecoding2
Expected: "1.234"
But was: "1,234"

need to use culture invariant string conversion

[2016-05-22 17:39] #169 closed

[2016-05-23 20:19] carsten-j opened #183 "ExchangeDeclare issue when used from Mono"
When I look at the API for IModel found here: https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/c165ffdab5cbf3cfb8ace73b3872bd3f24464225/projects/client/RabbitMQ.Client/src/client/api/IModel.cs
Then `ExchangeDeclare` looks like
[code]

But when I reference the dotnet RabbitMQ.Client from a Mono project and the go to the declaration in the assembly browser then `ExchangeDeclare` looks likes
[

[2016-05-23 20:27] michaelklishin commented on #183
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-05-23 20:27] #183 closed

[2016-05-23 20:39] carsten-j commented on #183
I will post it on stackoverflow but the question could also turned it into a actionable item since ExchangeDeclare does not seem to work with Mono.

[2016-05-23 20:40] michaelklishin commented on #183
@carsten-j I'm sorry but there is no evidence of that yet and even less evidence that it is an issue with our client.

[2016-05-23 20:45] michaelklishin commented on #183
FTR our test suite passes on Mono 4.2, and surely there are exchanges declared. So this either is an assembly introspection issue or a Mono bug, or something else but nothing actionable to file.

[2016-05-24 03:00] limufan opened #184 "vs2015 open master branch build RabbitMQ.Client error"
error 296.
for example：
`public class RecoveryAwareModel : Model, IFullModel, IRecoverable`，not `Model `class

[2016-05-24 07:37] michaelklishin commented on #184
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-05-24 07:37] #184 closed

[2016-05-24 08:20] kjnilsson commented on #184
@limufan did you run build.bat before opening it in Visual Studio? Sounds like the code generation hasn't been completed.

[2016-05-24 08:20] kjnilsson commented on #181
This was fixed as part of #182

[2016-05-24 08:20] #181 closed

[2016-05-24 09:02] timoch opened #185 "NullReferenceException when calling IConnection.CreateModel()"
In some rare cases, IConnection.CreateModel throws a NullReferenceException.
This happens when the connection closes between the call to ConnectionFactory.CreateConnection() and the call to IConnection.CreateModel()

See below: Initialise() attaches to Session.SessionShutdown. In the case described above, Session.SessionShutdown directly calls any handler it gets. As you can see, this.ConsumerDisp

[2016-05-24 09:16] michaelklishin commented on #185
@timoch thank you for the investigation. Do you have a (basic, could be incomplete) test case we can use to reproduce?

[2016-05-24 09:54] limufan commented on #184
@kjnilsson build success after run build.bat, Thank you!

[2016-05-24 12:20] timoch commented on #185
Ok, here it is. There is a race condition between the connection AutoClose and the creation of models from multiple threads. I tried using a thread-static connection but it yields roughly the same result. Probably because the connection itself is managed by background threads owned by RabbitMQ.Client.

As a short term solution we will keep a model around. That should keep the connection up.

    u

[2016-05-24 14:07] cdemi opened #186 "ConnectionFactory ignoring Port Setting when SSL is Enabled in v3.6.2"
In the latest version (v3.6.2), if you have SSL enabled on `ConnectionFactory` and a Port set, the port being set is ignored and it uses always port 5671

[2016-05-24 14:17] kjnilsson commented on #186
Hi @cdemi,

Is this with or without autorecovery enabled?

Cheers
Karl

[2016-05-24 14:21] cdemi commented on #186
AutomaticRecoveryEnabled is set to true in my case

[2016-05-24 20:36] bording opened #187 "New "Client Provided Name" feature not working -- connection_name undefined"
While upgrading https://github.com/Particular/NServiceBus.RabbitMQ to use 3.6.2, I noticed that the new feature introduced in #164 appears to have a problem.

Given the following code:
[code]
Here is what I see when I look at the management UI:

![connectionlist](https://cloud.githubusercontent.com/assets/753669/15518788/7c6d7926-21cc-11e6-86bd-3700adb7bb45.PNG)

![connectiondetails](https://cloud

[2016-05-25 09:05] michaelklishin commented on #157
A fix for this was reverted in #188, we will take a different approach.

[2016-05-25 09:53] #187 closed

[2016-05-25 09:54] #186 closed

[2016-05-25 14:50] kjnilsson commented on #157
Just pushed a commit with a proposed api where we add an additional overload to CreateConnection that takes a list of AmqpTcpEndpoints. If this looks acceptable I will finish that approach.

https://github.com/rabbitmq/rabbitmq-dotnet-client/commit/29b8932c650fbe15a9defae75f4c79f8720302ed

[2016-05-25 15:02] michaelklishin commented on #157
@kjnilsson that works.

[2016-05-26 10:05] cdemi commented on #186
I think it would be a good idea to remove this package from NuGet and upload a new version. I'm sure it will save a lot of people some trouble since this is a breaking change!

[2016-05-26 10:11] michaelklishin commented on #186
@cdemi it will be in `3.6.3`.

[2016-05-26 10:21] cdemi commented on #186
@michaelklishin I know but currently, everyone wanting to use RabbitMQ Client will get the package from NuGet and by default they will get this version since it is the latest

[2016-05-26 10:24] michaelklishin commented on #186
@cdemi we do not re-publish packages. Re-publishing packages is a terrible idea. Releasing a new version is the right thing to do and currently for this client it happens in lock step with RabbitMQ releases.

[2016-05-26 10:34] cdemi commented on #186
@michaelklishin correct, that's why I suggested to remove (unpublish) `3.6.2` and publish `3.6.3`. This will avoid having people download this version without re-publishing

[2016-05-26 10:41] michaelklishin commented on #186
@cdemi look, we get it. Currently this library is published in lock step with the server. This will change some day but today we have what we have (and have had for 10 years).

This issue only affects those who override RabbitMQ ports. The majority of users don't. Those who do can

 * Go to an older release, it will work just fine
 * Build from source, since a fix is already available (and buildin

[2016-05-27 18:04] #157 closed

[2016-05-31 10:31] kjnilsson opened #192 "Move to either nunit 3 or xunit"
Currently the Win RT tests aren't run against the windows 8 runtime as the current version of nunit does not support it. We should upgrade to either NUnit 3 or XUnit to ensure we can run these tests properly.

[2016-05-31 10:53] kjnilsson commented on #185
Hi @timoch - thanks for the investigation. I was able to use your test program to reproduce it on windows (but not on mono, strangely) but not after applying your proposed change. I also ran our complete test suite against it and it all passes ok. I've submitted a PR for this against the stable branch.

[2016-05-31 11:32] #185 closed

[2016-06-02 10:15] kbandrew commented on #156
I have a similar requirement, as we need to send a custom logon message for the RabbitMQ broker that we connect to. We would like a recovey or reconnect event, so that we can resend the logon if required.

Would this ((IRecoverable)connection).Recovery += (sender, args) => {}; do the job?

[2016-06-03 22:16] michaelklishin commented on #148
@jacksontbryan we can't prevent people from forking but it'd be a huge waste of time. We have a branch that works on CoreCLR but we cannot really test it beyond small F# scripts because the NUnit version we use doesn't run on CoreCLR. We'll try NUnit 3 or a different library but there is no guarantee that those work. Moving to a different testing framework is not a small task either.

I don't know

[2016-06-06 10:54] michaelklishin commented on #192
This is part of an interim plan for #148.

[2016-06-07 06:05] lysevi opened #194 "SSL connection error on windows7"
rabbitmq: 3.6.2
otp: otp_win64_18.3
ssl: Win32OpenSSL_Light-1_0_2h
rabbitmq client: 3.6.2

with older version of rabbitmq (3.6.0) and client (3.6.0) all work.

exception: "No compatible authentication mechanism found - server offered []"
stacktrace:
[code]

rabbimq config
[code]

openssl config
[code]

[2016-06-07 07:32] alessnet opened #195 "Allow IHostanameSelector to return a dynamically resolved hostname"
Hello,

I'm using a service-discovery which gives me the latest list of addresses for Rabbitmq servers (and which ones are in the same datacenter). So the addresses are not hard-coded in the client configuration. The list is dynamic and can change when servers goes down or up.

The issue with the current rabbit client if that we have to give a static list of hosts when creating the connection. Whe

[2016-06-07 07:55] kjnilsson commented on #195
Hi @alessnet - can you please direct your question to the rabbitmq-users mailing list. We use github issues for actionable items only. Cheers.

[2016-06-07 08:05] alessnet commented on #195
@kjnilsson

The action item here would be to add this functionality if missing, or clarify the documentation if this is possible using the existing IHostnameSelector.
I read the source code, but I wanted to be sure that's why I created this issue as a question.

Sorry for the inconvenience

[2016-06-07 08:25] kjnilsson commented on #195
Ok from looking at the code it looks like having IHostnameSelector returning an arbitrary endpoint might have worked in the past but won't work with the current version. So the feature request is to somehow allow users to specify an arbitrary endpoint resolution strategy?

[2016-06-07 08:29] michaelklishin commented on #195
`IHostnameSelector` operates on a known list of hosts but a new object (and a new interface) can be introduced that would provide that list.

[2016-06-07 08:34] kjnilsson commented on #195
I suggest we add an IEndpointSelector with `NextFrom (endpoints) -> AmqpTcpEndpoint` function and mark `IHostnameSelector` as obsolete.

[2016-06-07 08:34] michaelklishin commented on #195
We can do that but it's not the point of this issue. This issue is about producing a list of endpoints or hostnames dynamically.

[2016-06-07 08:37] michaelklishin commented on #194
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-06-07 08:37] #194 closed

[2016-06-07 08:41] michaelklishin commented on #194
So the real question here is why a blank list of authentication mechanisms is reported:

[code]

I don't recall a single related change since 3.6.0 (or even in the last 2-3 years). Please take it to the mailing list and provide a [Wireshark traffic capture](http://rabbitmq.com/amqp-wireshark.html) and `rabbitmqctl environment` output.

[2016-06-07 08:48] kjnilsson commented on #195
The new interface would allow you to return an arbitrarily resolved endpoint, say, resolved from round-robin dns but perhaps it isn't a particularly intuitive interface as you'd have to ignore the endpoints provided to `NextFrom`. I'll look at some other options.

[2016-06-07 09:57] BDeus opened #196 "Can't connect with Rabbit 3.6.2 client on 3.5.6 server"
Hi,
since 3.6.2 available, i can't connect to broker with 3.5.6 version
i rollback to 3.6.1 which correct the issue.
Is anybody encounter this issue?

[2016-06-07 09:57] michaelklishin commented on #196
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-06-07 09:57] #196 closed

[2016-06-07 09:58] michaelklishin commented on #196
You certainly can use newer client versions with older server versions. We cannot suggest anything without seeing server log files and what exceptions you get. Please start a mailing list thread.

[2016-06-07 09:59] michaelklishin commented on #196
One thing that comes to mind with `3.6.2` specifically is https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/186. You can either build the `stable` branch from source, or get a [nightly build](http://www.rabbitmq.com/nightly-builds.html), or use an older version.

[2016-06-07 19:36] kjnilsson commented on #148
I've been working on this and have just about got it to pass the test suite. It needs a bit of tidying up and documentation needs to be updated but I should be ready to push a branch with dotnetcore support in the next couple of days or so. @doc @jacksontbryan are you up for doing a bit of testing when that happens?

[2016-06-07 19:38] #192 closed

[2016-06-08 07:53] BDeus commented on #196
thank you, i don't use ssl but i use different port with automatic reconnection.
The error is indeed the wring port used.

[2016-06-08 15:05] kjnilsson commented on #148
ok I've now pushed a branch named `dotnetcore` that passes all tests. Please feel free to try it out and let me know how you get on. There are some instructions in `BUILDDOTNETCORE.md` of how to build it.

Please note this branch is largely unproven/untested and here for previewing purposes only at this stage.

[2016-06-08 15:07] michaelklishin commented on #148
@kjnilsson we should produce a binary build (and upload it to GitHub as a release plus post to the mailing list with an announcement)

[2016-06-08 19:07] hammett opened #198 "Content Header's Table (BasicProperties.Headers) handling of amqp's longstr"
Consider:

[code]

The table is correctly serialized. When deserializing, though, the implementation of ReadFieldValue calls ReadLongstr which returns a byte array. The behavior is not properly reflexive on this one. Not sure it's intentional.

A simple UTF8.GetString( ReadLongstr() ) would fix it.

That said a lot of our existing code now expects the byte[], so the fix may cause some pain to exis

[2016-06-08 20:05] kjnilsson commented on #198
Basic property headers are defined as an amqp table type. In the spec the table type contains both short and longstr types. However, rabbitmq does not quite follow the spec in that regards which means there is no ShortStr table type so in this case your string is interpreted as a longstr.

see 3 Field Types in: https://www.rabbitmq.com/amqp-0-9-1-errata.html

[2016-06-08 20:08] hammett commented on #198
That's fine. The issue is that the deserialization is turning it into a byte array. When add a string as an entry in a dictionary, it would be natural to expect an string on the other end.

[2016-06-08 20:33] kjnilsson commented on #198
I agree but the problem is there is no on-spec way to communicate the encoding of a LongStr or if it even is meant to be a string at all. Any change here would be, as you noted above, a likely breaking change.

[2016-06-08 20:47] michaelklishin commented on #198
Once we decouple this client's releases from RabbitMQ server, we can fix this in a `4.0.0` or something like that.

[2016-06-09 11:25] skubi opened #199 "Short frame - expected 131064 bytes, got n bytes"
Hello,

I am facing very strange behavior and unfortunately cannot find any rational explanation to it.
I am consuming messages from the queue with the service and at some point I am starting to get following exception:

[code]

This is happening with any message from the queue starting from some point of the time (could run for weeks without the problems). The exception is always like:

[code]

W

[2016-06-09 13:50] harishvadali opened #200 "Versioned delivery tags, à la Bunny and Java client"
Hi,
I am testing a recovery scenario by dropping the connection through management console. Below is my scenario.

1. Put 10 messages in a queue.
2. Once messages are consumed by the application, wait for 30 seconds and then call BasicAck on the delivery tag received.
3. While waiting for 30 seconds, I dropped the connection from management console. I noticed that all the Unacked messages are now

[2016-06-09 13:53] michaelklishin commented on #200
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-06-09 13:55] michaelklishin commented on #200
What you describe is known in other clients as versioned delivery tags. After connection recovery all channels are brand new and have delivery tag counter reset by RabbitMQ. This client does not support them but it should be fairly trivial to add because Java and Ruby clients do.

[2016-06-09 13:55] michaelklishin commented on #200
Here's a commit that demonstrates how Bunny does it: https://github.com/ruby-amqp/bunny/commit/21e39b9b93bca5dd52aa4bdb412bc95ff6e34c3e.

[2016-06-09 14:09] harishvadali commented on #200
@michaelklishin Thanks for the quick response.

[2016-06-09 17:46] Entroper commented on #200
We were confused because the .NET documentation says the same thing: https://www.rabbitmq.com/dotnet-api-guide.html#connection-recovery

Emphasis mine.

I had a look at the code, and I think I've discovered what's happening.  The `RecoveryAwareModel` is responsible for adjusting the tags after a reconnect, and it does have a check to see if the tag is stale before acking.  But we were still seeing

[2016-06-09 17:53] michaelklishin commented on #200
It was copied and edited from the Java guide.

[2016-06-09 17:55] michaelklishin commented on #200
@Entroper ah, perfect. Recovery in this client is a pretty faithful port of what we have in the Java client, so I expected that delivery tags should be versioned but looked at a couple of places where it wasn't obvious.

Please submit a PR against the stable branch?

[2016-06-09 17:57] Entroper commented on #200
@michaelklishin Will do.  :)

[2016-06-09 20:22] Entroper commented on #200
See #201.

[2016-06-09 22:15] michaelklishin commented on #200
Thank you, we will QA it in the upcoming days.

On Thu, Jun 9, 2016 at 11:22 PM, Entroper <notifications@github.com> wrote:

--
MK

Staff Software Engineer, Pivotal/RabbitMQ

[2016-06-13 07:18] kjnilsson commented on #199
Just to clarify does your connection go through two load balancers before it reaches a rabbit node? If so is there anything in the Azure LB or HA Proxy logs that could provide some more info?

[2016-06-13 07:53] skubi commented on #199
Yes, connection goes through two LBs before reaching the node. Azure LB balancing between two HA Proxy instances, but both HA Proxy instances are pointing to the same RabbitMQ node for now. Azure LB uses session stickiness (source IP distribution policy).

Unfortunately we cannot retrieve logs from Azure for their LB directly, but we are in communication with them to get at least some logs eventua

[2016-06-13 09:34] kjnilsson commented on #199
Ok having taken a brief look at the code I think it warrants some further investigation. There may be something better we can do for the case when a read returns fewer bytes than expected.

[2016-06-13 15:42] kjnilsson opened #203 "RecoveryAwareModel does not increment MaxSeenDeliveryTag for HandleBasicGetOk"
related to #200

[2016-06-13 15:43] kjnilsson commented on #200
ok apart from finding a bug related to BasicGet this should now be fixed in stable.

[2016-06-13 15:43] #200 closed

[2016-06-13 19:57] #148 closed

[2016-06-13 20:02] michaelklishin commented on #148
This client in master is now compatible with .NET Core (we have a .NET Core-based toolchain and all tests pass). We are planning to have a NuGet feed with master releases ready for public consumption soon. All credit for this work goes to @kjnilsson.

Note that this support *is* experimental at this point, both because .NET Core itself changes often and our understanding of how to best support .NE

[2016-06-13 20:09] michaelklishin opened #204 "master: test tasks do not exit after finishing"
Even after a a few key strokes. Test results banner is printed but the runner process does not terminate.

[2016-06-14 08:58] kjnilsson commented on #204
I think this is something to do with the test suite possibly leaving handles open or similar stopping the application from exiting. Could be tricky to trace down but we can't run the tests on AppVeyor as is.

[2016-06-14 11:42] #204 closed

[2016-06-14 11:48] kjnilsson opened #206 "Build, run tests and pack on AppVeryor for dotnetcore"

[2016-06-14 11:49] michaelklishin commented on #206
Related to #148.

[2016-06-14 12:34] vassilvk commented on #148
Thank you @kjnilsson and @michaelklishin for prioritizing this!

[2016-06-14 18:35] #206 closed

[2016-06-15 13:49] kjnilsson commented on #203
this has been merged, closing.

[2016-06-15 13:49] #203 closed

[2016-06-16 17:26] whvanderpost opened #209 "ConnectionFactory.CreateConnection() fails when using a custom port"
After we upgraded to version 3.6.2 of the NuGet package a problem appeared. We use a custom port to connect to RabbitMQ by using the following code (simplified):
`var cf = new ConnectionFactory();`
`cf.HostName = "localhost";`
`cf.Port = 12345;`
`cf.VirtualHost = "vHost1";`
`_connection = cf.CreateConnection();`

At the CreateConnection call we get a BrokerUnreachableException with the message "Ad

[2016-06-16 17:58] kjnilsson commented on #209
There is a bug in the ConnectionFactory in 3.6.2. If you use a custom port
use 3.6.1 until 3.6.3 is released.

Cheers
Karl
On Thu, 16 Jun 2016 at 18:26, whvanderpost <notifications@github.com> wrote:

[2016-06-16 18:51] michaelklishin commented on #209
Duplicate of https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/186.

[2016-06-16 18:51] #209 closed

[2016-06-16 19:24] wjdavis5 opened #210 ".Net Core support"
Are there plans to port this library to .NET Core?

[2016-06-16 19:31] michaelklishin commented on #210
#148, [mailing list announcement](https://groups.google.com/forum/#!searchin/rabbitmq-users/AppVeyor/rabbitmq-users/hyJLlXCbocY/IEWxno3oAwAJ).

[2016-06-16 19:31] #210 closed

[2016-06-16 19:31] michaelklishin commented on #210
Please post questions to rabbitmq-users in the future. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-06-16 19:52] wjdavis5 commented on #210
thank you

[2016-06-20 13:47] MIVerTFT opened #211 "Problem with SSL authentification on 3.6.2 .net client"
Hi,
I have some problem with authentification on 3.6.2 .net client.
Server have config like that:
[code]

I try connecting with following code
[code]
And than catch exception with message {"No compatible authentication mechanism found - server offered []"}

But if I set AutomaticRecoveryEnabled property to true, it's work fine.

I think that the problem is in the method ConnectionFactory.CreateCon

[2016-06-20 13:50] michaelklishin commented on #211
Possible duplicate of https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/186?

[2016-06-20 14:41] #211 closed

[2016-06-22 23:04] gwjames opened #212 "SSL Broken in 3.6.2"
It appears 3.6.2 has broken SSL connections. If I specify to use SSL on a unique port, it is ignored and the connection tries to use port 5672.

If I revert back to 3.6.1, it works 100%.

[2016-06-22 23:09] michaelklishin commented on #212
It doesn't have "broken SSL connections", it simply forces port to be 5671. See https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/186. Use 3.6.1 or 3.6.3 M2.

[2016-06-22 23:09] #212 closed

[2016-06-28 08:09] kjnilsson opened #213 "Update for .NET Core 1.0"
I think this just means updating to NetStandard 1.6 but there may be other tweaks required as well.

[2016-06-28 09:28] michaelklishin commented on #213
Continuation to #148.

[2016-06-29 13:34] kjnilsson commented on #213
blocked on this until https://github.com/nunit/dotnet-test-nunit/pull/39 is merged and the test running works again.

[2016-06-30 12:58] #213 closed

[2016-06-30 13:00] michaelklishin commented on #148
Another update: as of #213 we target the most recent version of .NET Core available a.t.m.

[2016-07-01 06:15] RunkyZhang opened #216 "Failed(timeout) to create a model with a connection(IsOpen is true) after EventingBasicConsumer is Shutdown"
1. subscribe a queue with EventingBasicConsumer object<br />
    ConnectionFactory connectionFactory = new ConnectionFactory<br />
    {<br />
        UserName = "guest",<br />
        Password = "guest",
        HostName = "192.168.151.81",<br />
        Port = 5672,<br />
        SocketWriteTimeout = -1,<br />
    };<br />
    IModel model = Program._connection.CreateModel();<br />
    EventingB

[2016-07-01 08:36] michaelklishin commented on #216
If your connection is opened but blocked e.g. due to an alarm (see server logs), then any operation on it will eventually time out. There is nothing client libraries can do about this.

[2016-07-01 08:36] #216 closed

[2016-07-01 08:36] michaelklishin commented on #216
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-07-01 09:32] RunkyZhang commented on #216
thanks for your response
just I try to register the event ConnectionBlocked on my connection, and the evnet is not triggered, so I thinke my connection is not blocked. are you sure it is not a bug???

[2016-07-01 09:33] kjnilsson commented on #148
Prereleases can be obtained from our AppVeyor NuGet feed: https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci

[2016-07-01 09:35] michaelklishin commented on #216
@RunkyZhang timeouts is a sad fact of life in distributed systems. The node your client is connected to can be overwhelmed with something, or [unreachable but that wasn't detected yet](http://www.rabbitmq.com/heartbeats.html), or something else. There is nothing this library can do about that. Your application, however, can: re-try N times before giving up.

[2016-07-01 09:36] michaelklishin commented on #216
Opening a channel is a network roundtrip if that makes things clearer.

[2016-07-01 10:02] RunkyZhang commented on #216
@michaelklishin thanks for your suggestions, I will read more doc in rabbitmq web site for it. thanks again.

[2016-07-05 13:18] nkumars opened #217 "Consider making ConnectionFactory.HostName a property"
Hi,

The properties in RabbitMQ.Client.ConnectionFactory such as UserName and Password are actually set as properties (means it has {get;set;}) whereas for HostName does not exist, which actually forces us to use GetField method while the other two can be used with GetProperty.

I dont know the purpose behind this, but I would suggest to have a consistent declaration, i.e., with {get;set;} or with

[2016-07-08 17:42] samirski opened #218 "Updating .Net Core branch and releasing a NuGet package"
If I'm not mistaken you were planning to update the .Net Core branch after the final release of .Net Core 1.0 and release a NuGet package for that. Since 1.0 is out, could you please release an official NuGet package for it?

[2016-07-08 18:08] michaelklishin commented on #218
We release things when they are ready. There is a [NuGet feed of nightly builds](https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci) but .NET Core is nowhere near maturity is neither our client on it. So there are no plans to produce a release in the next month or two.

[2016-07-08 18:08] #218 closed

[2016-07-12 20:26] mattzink commented on #171
I _think_ that issue is a Mono bug, fixed in Mono 4.4.1

[2016-07-13 00:32] michaelklishin commented on #171
Homebrew now provisions `4.4.1`, should be easy enough to try.

[2016-07-13 01:12] michaelklishin commented on #91
This client is in maintenance mode now and uses .NET Core tooling in master, which we couldn't get to build the WinRT version :( Closing this as it's not entirely clear if we can support WinRT in the future. .NET Core eclipses it and will be what master in this client and a new client (see #148) will target.

[2016-07-13 01:12] #91 closed

[2016-07-13 08:50] IAmShipy opened #220 "'System.ObjectDisposedException' when closing/disposing connection"
As discussed within the following Google groups thread:

[ObjectDisposed exception from C# RabbitMQ 3.5.4 client ](https://groups.google.com/forum/#!topic/rabbitmq-users/7zR-gQDU5pQ)

I'm also getting the same problem using RabbitMq.Client 3.6.3 with .Net framework 4.5.2, running within Visual Studio 2015.  The stack trace I'm getting is

[code]

This bug was occurring within a larger application.

[2016-07-13 08:58] kjnilsson commented on #220
Hi, Thanks for the report, I will try to replicate this using your example.

[2016-07-13 09:14] IAmShipy commented on #220
Thank you.  To clarify, I will be ignoring the bug within my application hence the try..catch to ignore the ObjectDisposedException.

But even so when running within VS2015, I still see the following error being output within the **Output** window (and it seems to be produced multiple times):

[code]

Also, if we turn on all **Common Language Runtime Exceptions** within **Debug>Windows>Exception S

[2016-07-13 10:58] michaelklishin commented on #220
`Connection.Dispose` is not what the client assumes you will use but good to know that `Connection.Close` can trigger it.

[2016-07-15 23:02] niemyjski opened #221 "Please add support for .NET Standard (.NET Core)"
This would allow us to use this library xplat.

[2016-07-15 23:10] bording commented on #221
FYI, they're already working on it. Take a look at the master branch, and https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/218#issuecomment-231431425

[2016-07-15 23:51] michaelklishin commented on #221
@niemyjski see #148.

@bording it's already done. There is a NuGet feed of nightly builds and .NET Core support has been announced on our mailing list. We don't have a timeline for a non-snapshot release as .NET Core is far from being mature and so is our client on it.

[2016-07-15 23:51] #221 closed

[2016-07-15 23:53] niemyjski commented on #221
thanks for the heads up!

[2016-07-19 10:34] PeterKottas commented on #83
Hello all, very nice to see effort in this direction. Do you have any news on availability of async client? Latest comments are from end of May as far as I know and I was wondering if you have a clearer picture by now. This https://github.com/clearctvm/RabbitMqNext for sure looks great but I would sleep better if we can have it backed up by the community behind rabbit.

[2016-07-19 10:36] michaelklishin commented on #83
@PeterKottas no updates. We've focussed on #148 in June and likely won't start working on the new client until September or so. It will take months to develop anyway.

[2016-07-19 18:15] vishal-uttamchandani opened #222 "Exception thrown when connecting to a queue using RabbitMQ.Client.CoreClrUnofficial 3.6.1.2-rc2 library"
OS: Windows 10 Pro

The below code works fine with **RabbitMQ.Client 3.6.3** library  (**targeting .net framework 4.5.1**)

[code]

Same code throws exception when using **RabbitMQ.Client.CoreClrUnofficial 3.6.1.2-rc2** library  (**targeting .net core 1.0.0**)

Unhandled Exception: RabbitMQ.Client.Exceptions.BrokerUnreachableException: None of the specified endpoints were reachable ---> System.Agg

[2016-07-19 18:53] michaelklishin commented on #222
`RabbitMQ.Client.CoreClrUnofficial 3.6.1.2-rc2` is not a version that we released or maintain. If you need .NET Core support, please see #148 and related announcements on the mailing list.

[2016-07-19 18:53] #222 closed

[2016-07-19 21:19] vishal-uttamchandani commented on #222
@michaelklishin Thanks. Client library @ https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci worked just fine.

[2016-07-20 00:09] michaelklishin commented on #150
This has already happened in master: the client has a different version and a NuGet feed of releases. RabbitMQ 3.7.0 milestone releases no longer include this client. `stable` will follow eventually.

[2016-07-20 04:42] PeterKottas commented on #83
Thanks for the info @michaelklishin , I'll check back around the end of the year then.

[2016-07-20 09:53] michaelklishin commented on #83
@PeterKottas I'd check back in Q1-Q2 2017.

[2016-07-20 11:34] Jestar342 commented on #150
Do I get an apology now? You accused me of not seeing the woods for the
trees, yet all I asked for is exactly what you have eventually implemented.
I was not complaining that you broke API - that is understandable. I was
complaining that you were using/releasing via Nuget, a tool that implements
and has its very core fundamentals based upon SemVer, and *not* telling it
(and thus the users thereof)

[2016-07-21 09:31] kjnilsson commented on #217
Field -> Property is a breaking change as applications using .e.g `HostName` would need to be recompiled. I propose moving this to the 3.7 (v4.0.0) milestone and address it there.

[2016-07-21 10:15] michaelklishin commented on #217
@kjnilsson fair enough.

[2016-07-22 08:38] kjnilsson commented on #171
It is still happening on 4.4.1. Given this is the current release this may need addressing/working around in the RabbitMQ client code. @mattzink have you got a link to Xamarins bugtracker for the issue you thought it was?

[2016-07-22 08:47] kjnilsson commented on #220
Ok looks like I introduced a NullRef exception that can happen occasionally. Reopening until I have a fix for it.

[2016-07-22 08:54] kjnilsson commented on #171
The same tests pass when running the test suite on master using mono  (`dotnet run -f net451`) so it should be fixable by backporting some of the changes.

[2016-07-22 11:04] kjnilsson commented on #171
I managed to create a small repro. Filed issue here: https://bugzilla.xamarin.com/show_bug.cgi?id=42738

[2016-07-22 19:06] mattzink commented on #171
@kjnilsson I thought you were maybe running into the issue described here:
https://github.com/mono/mono/commit/587a89e17c038521eaf52866d25affadc52db4ff

But perhaps you are hitting https://github.com/mono/mono/pull/3237 which was just committed to the Mono 4.4 branch but not yet in any release

[2016-07-27 12:38] kjnilsson commented on #125
I have started work on this issue and it is mostly straightfoward, however for methods such as `BasicConsume` that would benefit from optionals there is a slight issue that the last method argument is the non-optional `IBasicConsumer`. Optional parameters need to appear after all required parameters which gives us two choices:

1. Change the Signature of `BasicConsume` (and others if/when found) s

[2016-07-27 12:41] michaelklishin commented on #125
@kjnilsson we can introduce a new method, `basicConsumeWith`, which takes the consumer as the first argument.

[2016-07-27 12:41] michaelklishin commented on #125
…and leave the current method alone.

[2016-07-27 13:09] #217 closed

[2016-07-27 15:19] kjnilsson commented on #125
We could although that introduces more API and code to maintain. It seems I am able to change the method signature in IModel and still retain the old api using extension methods. See this wip commit: https://github.com/rabbitmq/rabbitmq-dotnet-client/commit/a66e9ee2bd39bcc8226327cd6f9ed553d369665b

This looks to me like a potential way forward.

[2016-07-27 17:48] bording commented on #125
Optional parameters are often not something you want introduce on a public API, because making any changes to those methods results in a binary breaking change if you aren't incredibly careful!

http://haacked.com/archive/2010/08/10/versioning-issues-with-optional-arguments.aspx/

It is possible to do it without causing breaks, but it requires following some very strict rules. For example, take a

[2016-07-27 18:09] michaelklishin commented on #125
This assumes breaking binary changes are a no-no. I don't think so. The 4.0 release is a great opportunity to introduce breaking changes to a 10 year old codebase
that supported .NET 1.1 (!) just 3 years or so ago.

[2016-07-27 18:58] bording commented on #125
Sure, moving up to a new major release is definitely the time to be considering breaking changes. I'm thinking more about what happens with releases past that point. If you introduce optionals in 4.0, then you now take on the maintenance cost of avoiding breaks as you continue to modify the API.

[2016-07-28 08:13] kjnilsson commented on #125
Thanks @bording for pointing out the issues with optionals and binary compatibility. I hadn't considered that. It is unlikely that the API is going to change significantly going forward but I agree using optionals in IModel may not be the best approach from a maintenance POW.

We could move the signatures with optionals to extension methods as these wouldn't need to change if the underlying API me

[2016-07-28 11:58] pantonis opened #226 "Forcing connection over IPv6 or IPv4"
Hi,

I have come across the scenario that the library throws a SocketException in SocketFrameHandler constructor when it tries to connect through IPV6. It the successfully connects using IPv4.

This is not a problem most of the times but for low latency systems when memory is important is kind of expensive to throw exception every time a connection is being established, especially when there are a

[2016-07-28 12:04] michaelklishin commented on #226
Can you please provide an example code snippet, library and OS version details?

RabbitMQ connections are supposed to be long lived so I am not buying into the argument that throwing and catching an exception is expensive. If it is then you should be using a memory managed runtime to begin with.

That said, forcing IPv6 or IPv4 is a fairly reasonable request.

[2016-07-28 12:23] pantonis commented on #226
I am currently running on Windows 10.
"RabbitMQ connections are supposed to be long lived" I know that. I was speaking about scenarios that connectivitity is lost due to network problems. Unfortunately in a low latency system I don't have the flexibility to throw exceptions.

[2016-07-28 15:18] bording commented on #125
@kjnilsson For interfaces, a good approach I've seen in the past is to only have the the method with all the parameters on the interface itself, and then all of the convenience overloads are extension methods, which lets all implementations of the interface get them for free. I think this what you're suggesting above?

Of course, versioning interfaces brings it own set of challenges, regardless of

[2016-07-29 12:04] kjnilsson commented on #198
I'm about to start work on this issue. It will have some API impact. It has the effect that header values can no longer be plain byte arrays. So any current usages of plain byte array header values will either be no longer be supported or not behave the same way on the wire. The client will assume that any field values of type `S` are UTF-8 encoded strings and convert them as such at the other end

[2016-07-29 12:13] michaelklishin commented on #198
Note that some languages don't have an equivalent to byte arrays. I'd check Java, Ruby and Python.

I am leaning towards option 1. Option 2 doesn't seem too bad but it depends on how other clients will react by default.

[2016-07-29 17:51] hammett commented on #198
Taking into account that is ok to convert from byte[] to string and back, I think this would be just a normalization of a behavior. I'd add

option 4 - plain byte[] are converted to strings.

Then it would work with all other clients without any extra change.

[2016-08-01 09:45] kjnilsson commented on #198
Round-tripping arbitrary binary data to utf8 and back is not a safe operation as this brief `fsi` session shows:

[code]

Having looked at pika, bunny and the java client they all implement slightly different strategies. Pika appears to utf8 encode the header value data indiscriminately, bunny does not impose an encoding as far as I can tell and the java client has a similarly asymmetric api to th

[2016-08-01 10:40] kjnilsson commented on #195
I'm going to start implementation of this for v4. As we can impose some smaller breaking changes I suggest we change `IHostnameSelector` to `IEndpointSelector` and make sure the interface is consistent with and works with the above scenario. This may require a few `ConnectionFactory` refactorings and API changes.

[2016-08-01 17:48] hammett commented on #198
I dont remember saying UTF8 was a good idea, as it normalizes the stream.

The bottom line issue is writing a string and retrieving a byte[]. This is understandable if you're familiar with the amqp type system, and how the information is lost (was a string or a byte[] to start with?) and maybe the design problem is exactly trying to bridge these two primitives in .net with a single primitive in am

[2016-08-02 09:41] kjnilsson commented on #195
Created PR for this now which introduces the `IEndpointResolver` interface used for returning a collection of `AmqpTcpEndpoint`s that the connection factory will try to connect to in the order returned. To make the connection factory used a different `IEndpointResolver` than the default set the `EndpointResolverFactory` function on the `ConnectionFactory` instance.

Here is a simple untested examp

[2016-08-02 12:40] kjnilsson commented on #220
PR submitted that should reduce the chances of a null ref exception.

[2016-08-02 12:45] kjnilsson commented on #171
The PR for the workaround is merged and the tests now pass on mono 4.4.1. Closing this issue.

[2016-08-02 12:45] #171 closed

[2016-08-02 12:47] kjnilsson commented on #180
This has been done on the master branch.

[2016-08-02 14:12] #220 closed

[2016-08-02 14:21] #195 closed

[2016-08-02 14:28] #125 closed

[2016-08-02 14:33] michaelklishin commented on #32
We already have a NuGet feed from master and getting closer to a released version from it, I'll assume this can be closed.

[2016-08-02 14:33] #32 closed

[2016-08-05 13:55] yongfa365 opened #232 "DequeueNoWait bug when ReConnection"
1.network is enable
2.run client
3.disable network
4.client auto ReConnection again and again sametime: DequeueNoWait error: SharedQueue closed
5.enable network
6.then:
Connection.IsOpen==true
but **consumer.IsRuning==false**  and can't receive message
Expect:consumer.IsRuning==true

mean:Connection is ReOpened but consumer is not  work

`
var consumer = new QueueingBasicConsumer(channel);
channel

[2016-08-05 14:03] michaelklishin commented on #232
Queueing consumers do not support automatic recovery. For that reason and others, please consider against using it.

[2016-08-05 14:03] #232 closed

[2016-08-05 14:04] michaelklishin commented on #232
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-08-06 07:10] Greatsamps opened #233 "Handle Topology Recovery Exception"
We have been tracking an issue where sometimes some of our consumers are not able to automatically recover their topology. This happens very rarely and is solved by a connection restart, but the issue is that currently there is no way for our application to be notified that this has happened.

We simply see the fact that an exception has occurred written to the console, which given we have thousan

[2016-08-06 17:10] michaelklishin commented on #233
This is a natural part of #94 and a duplicate of #132, if I understand the request correctly.

[2016-08-06 17:10] #233 closed

[2016-08-10 15:10] lloydsparkes commented on #226
I would like to add my support to this issue, to support forcing IPv6 or IPv4 over the other.

In my case its because, Socket.OSSupportsIPv6 returns true.

Which is correct, because the OS supports IPv6 (Windows 10) and it has a loopback IPv6 address.

_(As an aside, the Obsolute Socket.SupportsIPv6, returns false, because it does not have a "real" IPv6 network)_

The problem is, that the server i

[2016-08-17 03:07] mattzink opened #234 "BrokerUnreachableException on Mono 4.2"
It appears that the rabbit client, as of 3.6.4, started to use a method that's not implemented in Mono <= v4.2:

`RabbitMQ.Client.Exceptions.BrokerUnreachableException: None of the specified endpoints were reachable ---> System.MissingMethodException: Method 'IPAddress.MapToIPv6' not found.`

While this method has been implemented in Mono 4.4.2, it is still a breaking change for those of us stuck

[2016-08-17 03:23] mattzink commented on #234
Looks like the changes in https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/224 are related. Unfortunately, since call binding is baked at compilation time, adding an extension method with the same name as an instance method has no effect if the client is compiled under .NET (so this doesn't help those of us that get the package via NuGet), and only helps when the instance method doesn't exi

[2016-08-17 05:41] michaelklishin commented on #234
Sorry but supporting old Mono versions is not a priority. Our team is very small and we need to spend our time wisely.

[2016-08-17 05:41] #234 closed

[2016-08-22 13:45] kjnilsson opened #238 "Incorrect inner exception when no endpoint reachable"
Minor bug. When no endpoint is reachable a NullReferenceException is sometimes included as the inner exception instead of the actual exception.

[2016-08-23 06:18] infinutrition opened #239 "v4.0.0 - CreateConnection() within WebAPI Controller"
The following code hangs at CreateConnection() when placed inside of a WebAPI endpoint using v4.0.0 of RabbitMQ.Client.  Confirmed it works with v3.6.5.  Further confirmed that the exact same code works when called in Application_Start but not in Application_BeginRequest using v4.0.0.

Using latest ASP.NET WebAPI/OWIN and .NET 4.6.1.

           var factory = new ConnectionFactory
            {

[2016-08-23 08:02] michaelklishin commented on #239
Please post a [traffic capture](http://rabbitmq.com/amqp-wireshark.html) with both versions.

[2016-08-23 08:05] kjnilsson commented on #239
I suspect we may have fallen foul of the async/await deadlock problem when using task schedulers other than the default one. I will perform some additional testing using winforms and/or web api to see if I can replicate it.

[2016-08-23 09:54] michaelklishin commented on #198
There is still no consensus about this issue, so I'm clearing its milestone.

[2016-08-23 09:54] #239 closed

[2016-08-23 10:46] #238 closed

[2016-08-23 11:12] kjnilsson commented on #239
@infinutrition there is now a release candidate for 4.0.1 available on nuget.org for you to try: https://www.nuget.org/packages/RabbitMQ.Client/4.0.1-rc1

[2016-08-23 13:01] infinutrition commented on #239
@kjnilsson Initial tests show that the 4.0.1 RC1 works, thank you both for the quick action.

[2016-08-23 13:02] michaelklishin commented on #239
@infinutrition thank you for reporting it and helping us verify.

[2016-08-23 14:31] svet93 opened #242 "EventingBasicConsumer race condition possibility"
I was just looking through the code of the EventingBasicConsumer and noticed that when the even is Received is raised, no temp copy is used to prevent race condition.  According to [this ](https://msdn.microsoft.com/en-us/library/w369ty8x.aspx) article you should have a temporary copy of the delegate in order to avoid the possibility of a race condition if the last subscriber unsubscribes immediat

[2016-08-23 14:37] michaelklishin commented on #242
We already do something similar in a bunch of places. Makes sense to me.

[2016-08-25 01:05] bording opened #243 "Getting Visual Studio working properly in the master branch"
While looking at the master branch, I see you've got project.json files set up to support a .NET Core build from the command line, but you don't seem to currently have anything set up to work with the projects in Visual Studio now (xprojs and a solution file that references everything).

Would you mind if I opened a PR that got all of that working? If that's OK, what do you want to do with the Win

[2016-08-25 06:40] tomstaijen opened #244 "TcpClientAdapter tries to open IPv4 connections with an IPv6 address"
With the current TcpClientAdapter doing a First() on the available ip-adresses I found it is possible that it will try to make a ipv4 connection with an ipv6 IPAddress, which results in a "protocol not supported" exception.

This may be due to my setup, running rabbitmq on a vagrant. However, it seems better to filter the ip addresses on the appropriate addressfamily.

Suggested:

`var ep = adds.F

[2016-08-25 08:11] kjnilsson commented on #244
Thanks it sounds like a good suggestion I will give it a try.

Btw, you shouldn't need the umbrella to do development on the dotnet client. All you need is a running instance of RabbitMQ to run the tests against.

[2016-08-25 08:16] kjnilsson commented on #243
Hi,

A PR would be welcome. I've been using VS code up to now. I would only include RabbitMQ.Client, Unit and the Apigen projects in the solution file for now.

If I've understood it correctly, netstandard1.1 is missing a bunch of important APIs like socket support. Instead I think we need a separate target for some kind of [portable profile](https://github.com/dotnet/corefx/blob/master/Documentat

[2016-08-25 09:14] michaelklishin commented on #244
@tomstaijen FWIW we have a public CI service. Do you have a test case in mind for this that won't require a specialized environment?

[2016-08-25 09:15] michaelklishin commented on #243
`ServiceModel` should go in master but if we can get 4.x to be WinRT-compatible, we should give it a shot.

[2016-08-25 09:28] kjnilsson commented on #244
Getting an integration test to reliably produce this scenario may be tricky however we could refactor the code to abstract the dns lookup into a unit testable component that could be tested for the scenario where an Ipv6 address is returned first in the collection but a IPv4 address is required. It does pass the current suite with this change in place.

[2016-08-25 10:23] kjnilsson commented on #244
I created a test that passes in a socket with a Unix "AddressFamily" type which at checks the case where no address is found with the same AddressFamily as the socket. Also added a missing tests for CreateConnection.

[2016-08-25 13:18] #244 closed

[2016-08-26 07:29] xpicio opened #249 "TimeoutException on RabbitMQ.Util.BlockingCell"
Hello, few days ago i opened an issue on EasyNetQ project about an unhandled exception throw by RabbitMQ.Util.BlockingCell. Here the issue [TryToConnect failed as TimeoutException ](https://github.com/EasyNetQ/EasyNetQ/issues/608). Do you any idea about the problem ? Any suggestion ?

[2016-08-26 07:44] michaelklishin commented on #249
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-08-26 07:44] #249 closed

[2016-08-26 07:46] michaelklishin commented on #249
All that means is that an operation that expects a response (such as `QueueDeclare`) timed out. See server logs e.g. for entries about alarms triggered but it also can be a transient network or server load condition. There is nothing this client can do about any of those things.

[2016-08-26 08:50] xpicio commented on #249
thank you for the suggestion, i will do another check on server log.

[2016-08-26 09:23] kjnilsson commented on #244
@tomstaijen I've just published a release candidate of 4.0.2 that contains these changes.

https://www.nuget.org/packages/RabbitMQ.Client/4.0.2-rc1

Cheers

[2016-08-26 15:16] luisgepeto opened #250 "Strong name validation failed"
Hello I have downloaded the latest RabbitMQ.Client library via nuget. I am trying to add my assembly to a database project to use it as a SQL CLR. However, when running my CLR Im getting the following error:

I have tried running the verification of the strong name by running `sn -vf RabbitMQ.Client.dll` and get the following:

After this, I downloaded the dll directly form the site and this one i

[2016-08-26 15:52] kjnilsson commented on #250
This is surprising as the dlls are indeed strong named. I just verified a the net451 dll downloaded from nuget.org myself. Can you tell me the exact package version and dll you are using and how you are reference them in your project? As a side note I am not sure the client works well with SQL CLR. We certainly do no testing in that area at this time.

[2016-08-26 16:18] michaelklishin commented on #250
Worth mentioning that if you'd like to use this client on SQL CLR, you can use the 3.6.5 release and not notice any difference. The biggest value proposition of 4.0.x is .NET Core support.

[2016-08-26 19:32] bording opened #251 "ConsumerWorkService / BatchingWorkPool implementation is a performance bottleneck"
Recently, I've been doing some performance profiling of the [NServiceBus RabbitMQ transport](https://github.com/Particular/NServiceBus.RabbitMQ) and I've come across some interesting findings.

When I started my performance investigation, the main machine I was using was an older Sandy Bridge i7-2600K. In the middle of this, I put together a new development machine that has a brand new Skylake i7-

[2016-08-26 19:44] michaelklishin commented on #251
`ConsumerWorkService` has to guarantee per-channel dispatch ordering and dispatch in such a way that consumers can use synchronous protocol methods (e.g. `queue.declare`). As long as we satisfy those two, any changes are on the table.

[2016-08-26 19:51] michaelklishin commented on #251
@bording both options sound reasonable and looks like you are aware of the `ConsumerWorkService`'s raison d'être. Can you please post some data to compare to each pull request? Thanks again for stepping up to help!

[2016-08-26 20:21] bording commented on #251
From what I understand, those sort of things shouldn't be impacted by a change to `ConsumerWorkService`. The [ConcurrentConsumerDispatcher](https://github.com/rabbitmq/rabbitmq-dotnet-client/blob/master/projects/client/RabbitMQ.Client/src/client/impl/ConcurrentConsumerDispatcher.cs) is the only class that uses `ConsumerWorkService`, and it deals with the following:

- HandleBasicConsumeOk
- Handle

[2016-08-30 00:08] bording commented on #251
Now that both PRs are up, here are some quick comparison numbers. This is running the same scenario as above:
[code]
Those are just some quick comparisons. Each one of those was run twice and I averaged them. A larger number of runs per scenario would be useful, and I'd like to go back and run them on some of the other machines as well, particularly the old Sandy Bridge machine.

[2016-08-31 15:01] Scooletz commented on #251
@michaelklishin Could you write a few words about your preferences in regards to which PR is more likely to be accepted? I'll need to update mine #253. I'd like to know more before I chase the master.

[2016-08-31 15:05] michaelklishin commented on #251
I haven't had a chance to take a look at both of them. From a quick glance I like what I see in #253.

In fact, rebasing both would make it easier for @kjnilsson and me to review it as the diff would be much smaller.

[2016-08-31 15:07] kjnilsson commented on #251
@Scooletz it isn't that easy to review the PRs completely until they have been rebased against master after `vs-support` was merged in. What I did notice about your PR is that it contains a breaking API change in `IConnectionFactory`. This I'd like to avoid at least in the short term. However @bordings PR currently fails fairly reliably on one of the tests. I need to spend some time reviewing that

[2016-08-31 15:18] Scooletz commented on #251
Thanks for your answers @michaelklishin @kjnilsson . I'll rebase my PR then.

[2016-08-31 15:52] kjnilsson commented on #251
Thank you @Scooletz

[2016-08-31 16:21] bording commented on #251
Per https://github.com/rabbitmq/rabbitmq-dotnet-client/pull/252#issuecomment-243817393, this failing test is expected based on that approach's inability to guarantee ordering. Based on the fact that acking mulitple delivery tags assumes you've already seen all earlier tags, I'm now thinking that giving up ordering is going to be an unacceptable trade-off.

[2016-09-05 09:00] michaelklishin commented on #251
#253 is merged.

[2016-09-05 09:00] #251 closed

[2016-09-05 10:03] #243 closed

[2016-09-06 20:48] JonAnders opened #254 "AutorecoveringConnection prints TopologyRecoveryException to console"
When a connection has successfully recovered, a TopologyRecoveryException is printed to the console if no channel is currently open.

This is somewhat related to #233, but I believe this exception should never occur in the first place, so it's not a duplicate of #94 or #132.

Conditions for the bug to appear:
- AutomaticRecoveryEnabled = true
- No channels are open
- The recovering connection has

[2016-09-06 20:52] michaelklishin commented on #254
It is not possible for a client library to guarantee there will be no exceptions during recovery. All kinds of things can go wrong right when a recovery is in progress. Perhaps in this particular case something can be improved but if recovery eventually succeeds, I'm not sure this issue can justify the amount of time investigating what exactly is going on might take.

[2016-09-06 21:33] JonAnders commented on #254
I absolutely agree that there always will be things that can go wrong during recovery. This particular exception is something that happens consistently every single time though.

I think it looks bad to print out an exception when things work. It took me a while to understand that everything was actually working. But I can understand that fixing this might have a low priority.

[2016-09-07 10:47] jeremyVignelles opened #255 "Clarify the noAck parameter of BasicConsume"
When following the tutorial, I came across this line:

This really bugs me. Indeed, the `noAck` option was set to `true` on the first example, but this option enables the acknowledgment instead of disabling it.

When looking for the documentation, I found [the java equivalent to this function](https://www.rabbitmq.com/releases/rabbitmq-java-client/v3.1.1/rabbitmq-java-client-javadoc-3.1.1/com/rabb

[2016-09-07 10:50] michaelklishin commented on #255
We won't be changing the default value but it was renamed in at least Java and Ruby clients (Bunny), so it makes sense.

What documentation specifically needs updating?

[2016-09-07 11:31] jeremyVignelles commented on #255
The documentations that are using the `BasicConsume` method, so basically each consumer source codes.
There is also the quoted paragraph that is taken from the C# tutorial, part II.

This name change is breaking for the users that followed the tutorial and used the named parameter explicitely, so I would suggest to make this change in the next major release.

[2016-09-09 15:09] michaelklishin commented on #250
@luisgepeto any updates on the question above?

[2016-09-11 19:10] JohannesRudolph opened #256 "CreateConnection() seemingly fails to connect when run in an async context with Nito.AsyncEx"
I'm using the ``Nito.AsyncEx`` library (https://github.com/StephenCleary/AsyncEx) to provide an Async Context for my workers (.netcore console app).

See this thread for more info on why this is necessary and a good idea: http://stackoverflow.com/questions/9208921/cant-specify-the-async-modifier-on-the-main-method-of-a-console-app/9212343#9212343

In any case, this throws a ``BrokerUnreachableExce

[2016-09-11 19:26] michaelklishin commented on #256
Please post questions to rabbitmq-users or Stack Overflow. RabbitMQ uses GitHub issues for specific actionable items engineers can work on, not questions. Thank you.

[2016-09-11 19:28] michaelklishin commented on #256
There is no evidence that this is a RabbitMQ client bug because it only can be reproduced when a particular external library is used. Please post a runnable code example to the mailing list and maybe someone will be able to figure out what's going on.

[2016-09-11 19:45] JohannesRudolph commented on #256
Your call. This bug report contains all facts needed to reproduce. Replace ``RabbitMqConfiguration(...).ConnectionFactory`` with
[code]
or whatever is appropriate in your dev environment. [Nito.AsyncEx](https://www.nuget.org/packages/Nito.AsyncEx) is a very popular package to write proper async context enabled console apps.

Maybe rabbitmq forgets to call ``.ConfigureAwait(false)`` on some interna

[2016-09-11 19:49] michaelklishin commented on #256
@JohannesRudolph sorry but you may be overestimating the usefulness of a single  code snippet and a link to a library.

We did add a few missing `ConfigureAwaits` before in https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/239 and haven't heard this reported since. So I somewhat doubt it is an obvious issue. Regardless of how popular `Nito.AsyncEx` is (I cannot really evaluate it), having

[2016-09-12 06:53] JohannesRudolph commented on #256
Here's a full repro project:
[ConsoleApp1.zip](https://github.com/rabbitmq/rabbitmq-dotnet-client/files/466678/ConsoleApp1.zip)

[2016-09-12 09:36] kjnilsson commented on #256
@JohannesRudolph thanks for the repro project. I tested it and after changing the `HostName` and `UserName`/`Password` parameters it connects fine for me when doing `dotnet run`.

Output:

[code]

As @michaelklishin mentioned, we added some more `ConfigureAwait(false)`s recently but even so a console app shouldn't be affected by this because of the `SynchronizationContext` it uses. I haven't looke

[2016-09-12 09:39] michaelklishin commented on #256
If this is a race condition we should try running it 1000 times or so ;)

[2016-09-12 09:42] JohannesRudolph commented on #256
I'm running on Windows, get the exception everytime:
[code]

I haven't heard that console apps had a ``SynchronizationContext``, but this may be different in dotnet core....

[2016-09-12 09:47] kjnilsson commented on #256
If the SynchronisationContext isn't set then it uses the default context (threadpool dispatch). See: https://msdn.microsoft.com/magazine/gg598924.aspx

Tried it 1000 times and it still succeeds. Will try to do some more digging inside a windows VM.

[2016-09-12 09:55] kjnilsson commented on #256
Works for me on windows. @JohannesRudolph can you test this against a `localhost` instance of rabbit? Does it fail there as well?

[2016-09-14 10:29] michaelklishin commented on #256
If someone has a way to reproduce it, please leave a comment.

[2016-09-14 10:29] #256 closed

[2016-09-15 06:34] MichaelLogutov opened #257 "NullReferenceException in HeartbeatReadTimerCallback crashing application"
We just got another application crashed due to RabbitMQ library:

`Application: Scheduler.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.NullReferenceException
  at RabbitMQ.Client.Framing.Impl.Connection.HeartbeatReadTimerCallback(System.Object)
  at System.Threading.ExecutionContext.RunInternal(System.Threading.Exec

[2016-09-15 06:58] kjnilsson commented on #257
Hi, which version of the dotnet client are you using?

[2016-09-15 07:07] kjnilsson commented on #257
Could you try the latest version of the client (currently 4.1.0)?

[2016-09-15 07:09] MichaelLogutov commented on #257
Will do. Thanks.

[2016-09-15 07:09] kjnilsson commented on #257
There may be a fix in [this](https://github.com/rabbitmq/rabbitmq-dotnet-client/commit/7b1f65cb545239235dbdd4aa9c9a9aed594cae22) commit.

[2016-09-15 10:25] michaelklishin commented on #257
First of all, there is no such RabbitMQ version as `3.6.5.0`. What *.NET client library version* is used?

[2016-09-15 10:26] MichaelLogutov commented on #257
https://www.nuget.org/packages/RabbitMQ.Client/3.6.5

[2016-09-16 06:27] MichaelLogutov commented on #257
We've updated to 4.1.0 and got hit with the same crash this night:

`Application: Scheduler.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.NullReferenceException
   at RabbitMQ.Client.Framing.Impl.Connection.HeartbeatReadTimerCallback(System.Object)
   at System.Threading.ExecutionContext.RunInternal(System.Threading.

[2016-09-16 07:19] kjnilsson commented on #257
@MichaelLogutov ok, looks like there is still an issue somewhere. Can you give a bit more details on how it is being used? Some kind of minimal repro obviously would be fantastic :)

[2016-09-16 07:55] MichaelLogutov commented on #257
We're creating connection when application start using IConnectionFactory.CreateConnection:
`var connection = this.connectionFactory.CreateConnection();
connection.AutoClose = false;`

And then we're using CreateChannel:
`
            var channel = connection.CreateModel();

            if (this.configuration.PublishConfirmTimeout > TimeSpan.Zero)
                channel.ConfirmSelect();

[2016-09-16 13:18] kjnilsson commented on #257
After looking at the code I could see one potential null ref scenario so have covered that in the linked PR.

[2016-09-16 13:37] #257 closed

[2016-09-16 14:09] kjnilsson commented on #257
@MichaelLogutov if you want to test out the potential fix right away you could grab the latest package from AppVeyor (package feed: https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci
). They are a bit confusingly versioned 4.0.0.x but do represent the latest master commits.

[2016-09-16 16:07] michaelklishin commented on #257
We will re-trigger a build so that the version is a more sensible 4.1.0.x`.

[2016-09-16 16:33] MichaelLogutov commented on #257
Thanks guys. Unfortunately I'm unable to install it.
I've added source:
`nuget sources add -Name rabbitmq -Source https://ci.appveyor.com/nuget/rabbitmq-dotnet-client-ci`

But I can't find the package:
[code]

[2016-09-16 16:35] kjnilsson commented on #257
You may need to enable listing of pre-releases.

[2016-09-16 17:53] MichaelLogutov commented on #257
Yeah, I found it with "pre" flag but now I can't update it due to other packages referencing higher version than 4.0

[2016-09-16 21:46] michaelklishin commented on #257
@MichaelLogutov we've bumped [AppVeyor minor version to 4.1.0](https://ci.appveyor.com/project/rabbitmq/rabbitmq-dotnet-client).

[2016-09-19 07:21] kjnilsson commented on #257
Looks like the AppVeyor needs another tweak somewhere before it will version it correctly. Will take a look today.

[2016-09-19 09:38] kjnilsson commented on #257
@MichaelLogutov you could try it now.

[2016-09-19 10:32] michaelklishin commented on #257
[4.1.1-rc1](https://www.nuget.org/packages/RabbitMQ.Client/4.1.1-rc1) is now up on nuget.org.

[2016-09-19 10:36] MichaelLogutov commented on #257
Thanks guys. I'm a bit overwhelmed with work on Monday. Will try it soon.

[2016-09-21 06:19] MichaelLogutov commented on #257
Ok, we've updated yesterday all our tasks and for now it seems to work without crashes. But it was only one night.

[2016-09-21 07:05] kjnilsson commented on #257
Thanks for testing. Let's leave it a couple of more days and see if the error re-occurs.

[2016-09-21 09:40] grrrrrrrrrrr opened #259 "Heartbeat thread taking down process in .Net again"
It seems in version 4.1 the heartbeat thread is crashing and taking down the rest of an application again in a way that can't really be handled client side. I think this is something that was fixed in 3.5. something previously and has come back.

[2016-09-21 09:57] michaelklishin commented on #259
@grrrrrrrrrrr I'm sorry but we cannot work with this much information. Either provide details (at exception stack trace, for example) or we'll have to close this.

[2016-09-21 09:58] michaelklishin commented on #259
If this is "something fixed in 3.5" then please provide a GitHub issue number, too.

[2016-09-21 10:07] grrrrrrrrrrr commented on #259
yeah yeah, stacktrace or GTFO. Here you go:

   at Magna.Impex.Workflow.Autofac.Service.ImpexServiceHost.Stop() in E:\BuildAgent\work\7215e63d8497f477\Magna.Impex.Workflow.Autofac\Service\ImpexServiceHost.cs:line 111
   at Topshelf.ServiceConfiguratorExtensions.<>c__DisplayClassa`1.<WhenStopped>b__9(T service, HostControl control)
   at Topshelf.Builders.DelegateServiceBuilder`1.DelegateServiceHan

[2016-09-21 10:09] grrrrrrrrrrr commented on #259
Also, the actual exception stacktrace is here

   at RabbitMQ.Client.Framing.Impl.Connection.HeartbeatReadTimerCallback(Object state)
   at System.Threading.ExecutionContext.RunInternal(ExecutionContext executionContext, ContextCallback callback, Object state, Boolean preserveSyncCtx)
   at System.Threading.ExecutionContext.Run(ExecutionContext executionContext, ContextCallback callback, Object st

[2016-09-21 10:09] grrrrrrrrrrr commented on #259
I think its a similar issue to this: https://groups.google.com/forum/#!topic/rabbitmq-users/7zR-gQDU5pQ

[2016-09-21 10:10] michaelklishin commented on #259
This is very likely a duplicate of https://github.com/rabbitmq/rabbitmq-dotnet-client/issues/257. So please give a pre-release version mentioned there a try.

[2016-09-21 10:10] #259 closed

[2016-09-21 10:16] grrrrrrrrrrr commented on #259
OK thanks for your help, it does look very similar, will try that out

[2016-09-22 08:57] MichaelLogutov opened #260 "Failure in IP address resolution results in numerous end of stream exceptions"
We're facing strange issue with many AMQP errors generated after IP resolve failed.

Basically it goes like this.

Application got unobserved exception (from TaskScheduler.UnobservedTaskException):

[code]

After that we've got huge amount of errors (multiple per second) like this:

[code]

and like this:

[code]

We've using https://www.nuget.org/packages/RabbitMQ.Client/4.1.1-rc1
.NET 4.6.1

Her

[2016-09-22 09:01] kjnilsson commented on #260
When does the exception occur? during `CreateConnection`?

[2016-09-22 09:07] MichaelLogutov commented on #260
First error - unobserved task exception (outside our code).
Other errors - on channel creation (CreateModel)

[2016-09-22 09:09] kjnilsson commented on #260
what is the setting of this config value?
[code]

[2016-09-22 09:13] MichaelLogutov commented on #260
We do not have this option specified in config - so it's by default (I guess it's on).
But we do have a custom handler for those exceptions (which outputs the first error in our log):
[code]

[2016-09-22 09:14] kjnilsson commented on #260
ok looks like this exception isn't propagating correctly. It should be thrown when the connection is created. I'll take a look at it. Thanks.

[2016-10-03 10:17] Phoenix1271 opened #262 "NuGet package not fully compatible with framework 4.5"
Packages for RabbitMQ.Client >= 4.0.0 are targeting .NET framework 4.5.1 which effectively breaks upgrade process for any project that references .NET 4.5 or .NET 4.5.2. Please fix this issue by setting target framework to 4.5 for next release.

[2016-10-03 10:23] michaelklishin commented on #262
The intent was to target 4.5.1+, I believe.

[2016-10-03 10:24] kjnilsson commented on #262
The version bump was explained in the [release announcement](https://groups.google.com/forum/#!searchin/rabbitmq-users/dotnet$204.0%7Csort:relevance/rabbitmq-users/hyJLlXCbocY/IEWxno3oAwAJ)

If you need 4.5 please use the 3.6.x releases. I don't see how it breaks 4.5.2 - 4.5.1 can be used with any higher version.